.project-prodetail {
    height: 100%;
    overflow: hidden;
    .prodetail-row {
        height: 100%;
    }


    // .project-aside-more {
    //     text-align: center;
    //     height: 40px;
    //     line-height: 40px;
    // }

    .prodetail-content {
        height: 100%;
        background: #fff;

        .prodetail-content-col {
            background: #fff;
            height: 100%;
        }
    }
}

.project-empty {
    height: calc(100% - 48px);
    background: #fff;
    padding: 20% 0;
}

