.project-setting {
    // border-top: 1px solid #f0f2f5;
    cursor: pointer;
    .project-setting-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .project-setting-title {
        display: flex;
        align-items: center;
        margin-left: 20px;
        height: 40px;
        .ant-avatar {
            height: 20px;
            width: 20px;
            font-size: 10px;
        }
    }

}
.project-setting:hover {
    background-color: var(--thoughtware-gray-400);
}
