

.project-info-title {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}
.project-set-basicinfo {
    padding: var(--thoughtware-padding);
    .project-set-title {
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .project-set-icon {
        .project-form-icon {
            align-items: center;
        }
        .project-form-icon-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .project-set-icon-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    .change-botton {
        cursor: pointer;
        text-align: center;
        height: 30px;
        line-height: 30px;
        background: var(--thoughtware-blue);
        color: #fff;
        border-radius: 4px;
        width: 100px;
        font-size: 12px;
    }
    .project-set-delete {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.project-info {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
    .ant-form-item {
        margin-bottom: 20px;
    }
    
}
.project-icon-modal {
    .project-icon-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .project-icon {
            margin-right: 10px;
            box-sizing: content-box;
        }
        .icon-select {
            border: 2px solid var(--thoughtware-blue);
        }
    }
}
.project-delete-confirm {
    .ant-alert {
        margin-bottom: 10px;
    }
}