.project-sprint-list {
    background-color: #fff;
    height: 100vh;
    padding: var(--tiklab-padding);;
    flex: 1;
    .sprint-tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        line-height: 50px;
        
        .sprint-tab {
            font-size: var(--tiklab-font-13);;
            cursor: pointer;
            height: 50px;
            line-height: 50px;
            margin-right: 20px;
        }
        .sprint-tab:last-child {
            margin-right: 0;
        }
        .active-tabs {
            color: #000;
            border-bottom: var(--tiklab-gray-400) 2px solid;
        }
    }

    .sprint-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        line-height: 50px;
        gap: 20px;
        margin-bottom: 15px;
        .vertical-bar {
            width: 1px;
            height: 15px;
            background-color: #d7d7d7;
            margin: 0 10px;
        }
        .active-tabs {
            border-bottom: 2px solid var(--tiklab-blue);
        }
        .filter-search {
            width: 120px;
            border-radius: 4px;; 
        }
    }
    .sprint-botton {
        display: flex;
        .project-primary {
            margin-right: 10px;
        }
    }
    .sprint-box {
        .sprint-name {
            cursor: pointer;
        }
        .sprint-item {
            display: flex;
            align-items: center;
        }
        .sprint-name:hover {
            color: var(--tiklab-blue);
        }
        .sprint-status {
            padding: 2px 3px;
            background: #e2e1e4;
            border-radius: 4px;
            font-size: 10px;
            width: fit-content;
            color: #2b333e;
        }
        .sprint-status-todo {
            background: #e2e1e4;
            color: #2b333e;
        }
        .sprint-status-process{
            background: #b0d5dfa1;
            color: #132c33;
        }
        .sprint-status-done {
            background: #dfecd5e3;
            color: #5e5314;
        }
    }
}