.home {
    .title-top {
        font-size: 14px;
        
    }
    .projectset {
        .title {
            span {
                height: 80px;
                line-height: 80px;
            }
            padding: 0 10px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            background: #fff;
        }
        .projectset-box {
            height: calc(100vh - 140px);
            overflow: auto;
        }
        .projectset-list {
            display: flex;
            width: 100vw;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            box-sizing: border-box;
            border-top: solid 1px var(--adm-border-color);
            line-height: 40px;
            .projectset-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .projectset-icon {
                    margin-right: 10px;
                }
            }
            .projectset-type {
                width: 20vw;
                height: 40px; 
                line-height: 40px;
                overflow: hidden;
            }
            .projectset-title {
                font-size: 16px;
                font-weight: 600;
                color: var(--adm-color-primary)
            }
        }
    }
    .adm-search-bar  {
        width: 63vw;
        .adm-input {
            font-size: 13px;
        }
    }
}