.logcontent {
    background-color: #fff;
    .title {
        span {
            height: 80px;
            line-height: 80px;
        }
        padding: 0 20px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        background: #fff;
    }
    .logcontent-filter {
        padding: 10px;
    }
    .logcontent-box {
        height: calc(100vh - 200px);
        overflow: auto;
    }
    .logcontent-list {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        box-sizing: border-box;
        border-top: solid 1px var(--adm-border-color);
        line-height: 50px;
        .logcontent-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 30vw;
            .logcontent-icon {
                margin-right: 10px;
            }
        }
        .logcontent-type {
            width: 20vw;
            height: 40px; 
            line-height: 40px;
            overflow: hidden;
        }
        .logcontent-title {
            font-size: 16px;
            font-weight: 500;
        }
    }
}