.log-filter {
    .log-filter-search {
        padding: 10px;
        border-bottom: 1px solid #f7f7f7;
    }
    .log-filter-picker {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        border-bottom: 1px solid #f7f7f7;
        color: #666;
        .picker-user {
            padding: 0 5px;
            border-right: 1px solid #f7f7f7;
        }
        .picker-project {
            padding: 0 5px;
            border-right: 1px solid #f7f7f7;
        }
        .picker-date {
            padding: 0 5px;
            border-right: 1px solid #f7f7f7;
        }
        .picker-icon {
            font-size: 8px;
            color: #666;
            margin-left: 3px;
        }
        .filter-submit {
            color: #8486F8;
            margin-left: 10px;
        }
    }
}
.log-statistics-box {
    overflow: hidden;
    width: 100vw;
    .log-statistics-table {
        overflow: auto;
        .table-head {
            display: flex;
            align-items: center;
            width: fit-content;
            text-align: center;
            border-bottom: 1px solid #f7f7f7;
        }
        .table-row {
            display: flex;
            align-items: center;
            width: fit-content;
            text-align: center;
            border-bottom: 1px solid #f7f7f7;
        }
        .statistics-table-tr {
            width: 100px;
            padding: 10px;
        }
        .statistics-user {
            width: 100px;
            padding: 10px;
            text-align: left;
        }
        .statistics-total {
            width: 50px;
            padding: 10px;
            text-align: center;
        }
    }
}
