/*
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: 袁婕轩
 * @Date: 2021-07-30 11:23:36
 * @LastEditors: 袁婕轩
 * @LastEditTime: 2021-07-30 15:16:52
 */
.slideRail {
    border: 1px solid #fff000;
    margin-top: 200px;
    margin-left: 200px;
    position: relative;
    .slide {
        background-color: #ff00ff;
        margin-left: 1px;
        position: absolute;
        top: 0;
    }
}