.wiki-repository {
    .wiki-repository-list {
        padding: 15px;
    }
    .repository-delete {
        color: var(--thoughtware-blue);
        cursor: pointer;
    }
    .repository-name {
        color: var(--thoughtware-blue);
        cursor: pointer;
    }
}