.wiki-repository {
    height: 100%;
    overflow: auto;
    .wiki-repository-list {
        padding: var(--tiklab-padding);
        .wiki-repository-list-top {
            display: flex;
            justify-content: space-between;
        }
        .wiki-repository-tab {
            display: flex;
            gap: 20px;
            position: sticky;
            padding-bottom: 15px;
            .wiki-repository-tab-item {
                cursor: pointer;
                background-color: var(--tiklab-gray-600);
                height: 32px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
    
            }
    
            .wiki-repository-tab-select {
                font-weight: var(--tiklab-font-weight-bold);
                color: var(--tiklab-blue);
                background-color: var(--tiklab-gray-400);
            }
        }
    }
    .document-title {
        display: flex;
        align-items: center;
    }
    .document-title:hover {
        color: var(--tiklab-blue);
    }
    .repository-delete {
        color: var(--tiklab-blue);
        cursor: pointer;
    }
    .repository-name {
       
        cursor: pointer;
    }
    .repository-name:hover {
        color: var(--tiklab-blue);
    }
}