.project-type-add-modal {
    .project-type-icon-box {
        width: 320px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .upload-icon {
            width: 30px;
            height: 30px;
            // margin-right: 10px;
        }
    }
    .project-type-icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        margin-bottom: 10px;
        box-sizing: content-box;
        
        img {
            width: 30px;
            height: 30px;
            margin: 5px;
        }
    }
    .icon-select {
        border: 2px solid #b4fab7;
    }
}