.dynamic-col {
    padding: var(--thoughtware-padding);
}

.dynamic-list-page {
    background: #fff;

    .dynamic-list-top {
        position: sticky;
        top: 0;
        z-index: 3;
        background: #fff;
        padding: 15px 15px 0;
    }

    .dynamic-list {
        padding: 0 15px 15px;
        .dynamic-item {
            margin-bottom: 10px;

            .dynamic-work-title:hover {
                color: var(--thoughtware-blue);
            }
        }

        .dynamic-item:nth-child(4n+1) {
            .dynamic-user-icon {
                background-color: #cadbf3;
            }
        }

        .dynamic-item:nth-child(4n+2) {
            .dynamic-user-icon {
                background-color: #deedd7;
            }
        }

        .dynamic-item:nth-child(4n+3) {
            .dynamic-user-icon {
                background-color: #ffebee;
            }
        }

        .dynamic-item:nth-child(4n+4) {
            .dynamic-user-icon {
                background-color: #e8eaf6;
            }
        }
    }

    .dynamic-filter {
        padding: 15px 0;
        width: 100%;
        display: flex;
        gap: 20px;

       
    }
}