.first-menu-bottom-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    .first-menu-link-item {
        padding: 6px;
        margin-bottom: 0;
        width: 75px;
    }
    .user-icon {
        width: 24px;
        height: 24px;
    }
}
.first-menu-bottom-text {
    .first-menu-bottom-item {
        height: 40px;
        display: flex;
        line-height: 40px;
        width: 100%;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;
    }

    .user-icon {
        width: 24px;
        height: 24px;
    }
    
}
.thoughtware_licence_modal{
    .ant-modal-body {
        padding: 0 15px 15px !important;
    }
}