/**
* @name: header
* @author: mahai
* @date: 2021-09-01 16:52
* @descriptionï¼šheader
* @update: 2021-09-01 16:52
*/

.frame-header {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    position: relative;
    z-index: 3;

    .frame-header-logo {
        height: var(--tiklab-head-height);
        width: 100px;
        margin-right: 20px;
        margin-left: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .frame-header-link {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        gap: 20px;

        &-active {
            border-bottom: var(--tiklab-blue) 2px solid;
            color: var(--tiklab-blue);
        }

        &-item {
            cursor: pointer;
            overflow: hidden;
            height: 48px;
            line-height: 48px;
            flex-shrink: 0;
            span {
                padding: 5px;
            }
            
        }

        &-item:hover {
            span {
                
                background: #E1EDFF;
                border-radius: 3px;
                color: var(--tiklab-blue);
            }

        }
    }

    .frame-header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        padding-left: 22px;
    }

    &-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        justify-content: flex-end;

        &-search-wrap {
            position: relative;
            margin-right: 20px;
        }

        &-text {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            // height: 100%;
            padding-right: 10px;
            gap: 20px;
            // a {
            //     padding: 0 10px;
            // }

            .badge {
                position: relative;

                .dot {
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    position: absolute;
                    top: -5px;
                    right: 3px;
                    background: #ff8989;
                }
            }

            .messageNum {
                font-size: 25px;
                color: var(--tiklab-blue);
            }

        }




    }

    &-icon {
        position: relative;
        text-align: center;

        .ant-avatar {
            width: 22px;
            height: 22px;
        }
    }


    &-set:hover,
    &-message:hover {
        background-color: #D2E0FD;
        border-radius: 30px;

    }


    &-set:hover::before,
    &-message:hover::before {
        border: 5px solid transparent;
        transform: translateX(-50%) translateY(-5px);
        content: "";
        margin-top: 3px;
        border-bottom-color: #21242a;
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 50%;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
        opacity: 1;
    }
}