.home {
    height: calc(100vh - var(--tiklab-head-height));
    overflow: auto;
    // background: var(--tiklab-gray-600);
    position: relative;
    z-index: 0;
    padding: 0 20px 20px;

    .home-tab {
        display: flex;
        gap: 20px;
        position: sticky;
        // top: 0;
        background: var(--tiklab-gray-600);
        // z-index: 1;
        padding: 20px 0 15px 0;

        .home-tab-item {
            cursor: pointer;
            background-color: #fff;
            height: 32px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

        }

        .home-tab-select {
            font-weight: var(--tiklab-font-weight-bold);
            color: var(--tiklab-blue);
            background-color: var(--tiklab-gray-200);
        }
    }

    // .home-content {
    //     background: var(--tiklab-gray-600);
    // }

    .title {
        width: 100%;
        // height: 40px;
        // line-height: 40px;
        border-radius: 4px;
        display: inline-flex;
        justify-content: space-between;

        .name {
            font-weight: var(--tiklab-font-weight-bold);
        }

        .more:hover {
            text-decoration: underline;
        }

        .more {
            color: var(--tiklab-blue);
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }

    .recent-project {
        overflow: hidden;
        background-color: #fff;
        border-radius: 4px;
        padding: var(--tiklab-padding);
        height: fit-content;

        .home-project {
            display: flex;
            align-items: center;
            margin-top: 10px;
            overflow: auto;
            gap: 20px;
            padding-bottom: 10px;

            .project-item:hover {
                border-radius: 4px 4px 0 0;
                border-bottom: 2px solid var(--tiklab-blue);
                transition: 500;
            }

            .project-item {
                max-width: 240px;
                flex: 1;
                padding: 15px;
                box-sizing: content-box;
                flex-shrink: 0;
                border-radius: 4px;
                cursor: pointer;
                background-color: var(--tiklab-gray-600);
                box-sizing: border-box;
                border-bottom: 2px solid var(--tiklab-gray-600);

                .item-title {
                    margin-bottom: 10px;
                    font-weight: var(--tiklab-font-weight-bold);
                    display: inline-flex;
                    align-items: center;
                    font-size: 16px;

                    .item-name {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .project-icon {
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                    }

                    .item-icon {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                }

                .item-work {
                    display: flex;
                    gap: 20px;
                }

                .process-work,
                .end-work {
                    font-size: 12px;
                    display: inline-flex;
                    width: 100%;
                    justify-content: space-between;
                    height: 30px;
                    line-height: 30px;

                    .work-label {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }

            .ant-empty {
                width: 100%;
            }
        }
    }

    .todo-work {
        margin: 0 auto;
        margin-top: 15px;
        padding: var(--tiklab-padding);
        background-color: #fff;
        border-radius: 4px;
        flex: 1;

        &-title {
            width: 100%;
            font-weight: var(--tiklab-font-weight-bold);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .more:hover {
                text-decoration: underline;
            }

            .more {
                color: var(--tiklab-blue);
                margin-left: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
        }

        &-list {
            margin-top: 10px;
            cursor: pointer;
        }
    }

    .recent-click {
        margin: 0 auto;
        margin-top: 15px;
        padding: var(--tiklab-padding);
        background-color: #fff;
        border-radius: 4px;
        flex: 1;
        margin-bottom: 15px;

        &-title {
            width: 100%;
            font-weight: var(--tiklab-font-weight-bold);
            display: flex;
            align-items: center;
            justify-content: space-between;

            // border-bottom: 1px solid #f0f0f0;
            .more:hover {
                text-decoration: underline;
            }

            .more {
                color: var(--tiklab-blue);
                margin-left: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
        }

        &-list {
            margin-top: 10px;
        }

        .project-item {
            display: flex;
            align-items: center;

            .project-item-content {
                .content-name:hover {
                    cursor: pointer;
                    color: var(--tiklab-blue);
                }

                .content-type {
                    font-size: 12px;
                    color: var(--tiklab-gray-500);
                }
            }

        }

        .work-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            gap: 20px;

            .work-left {
                display: flex;
                align-items: center;
                gap: 5px;
                flex: 1;

                .work-content {
                    .content-name:hover {
                        cursor: pointer;
                        color: var(--tiklab-blue);
                    }

                    .content-name {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .content-type {
                        font-size: 13px;
                        color: var(--tiklab-gray-500);
                    }
                }
            }

            .work-project {
                width: 150px;
                font-size: 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .work-status {
                padding: 2px 3px;
                background: #e2e1e4;
                border-radius: 4px;
                font-size: 10px;
                width: fit-content;
                color: #2b333e;
            }

            .work-status-process {
                background: #b0d5dfa1;
                color: #132c33;
            }

            .work-status-done {
                background: #dfecd5e3;
                color: #5e5314;
            }

            .work-time {
                text-align: right;
            }
        }

        .version-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .version-content {
                .content-name:hover {
                    cursor: pointer;
                    color: var(--tiklab-blue);
                }

                .content-type {
                    font-size: 12px;
                    color: var(--tiklab-gray-500);
                }
            }
        }

        .sprint-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .sprint-content {
                .content-name:hover {
                    cursor: pointer;
                    color: var(--tiklab-blue);
                }

                .content-type {
                    font-size: 12px;
                    color: var(--tiklab-gray-500);
                }
            }
        }

    }

}