.kanass-logo {
    padding: 23px var(--thoughtware-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .logo-img {
        height: 25px;
    }
}
.kanass-logo-text {
    height: var(--thoughtware-head-height);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    .logo-img {
        height: 25px;
    }

    .logo-text {
        margin-left: 10px;
        font-size: 20px;
        font-weight: 500;
    }
}