.project-status-num {
    border-radius: 4px;
    margin-top: 20px;
    flex: 1;
    .project-status-num-top {
        .project-status-num-title {
            font-weight: 600;
        }
    }

    .project-status-num-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .project-status-num-content-box {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            border-radius: 4px;
            margin-top: 10px;
            line-height: 35px;
            cursor: pointer;
            flex: 1;
            padding: var(--tiklab-padding);
            background-color: var(--tiklab-gray-600);
            gap: 10px;
            text-align: center;
            .project-status-num-content-box-num {
                font-size: 16px;
                font-weight: 600;
            }
            .project-status-num-content-box-name {
                color: #666;
            }
        }

        .project-status-num-content-box:hover {
            .project-status-num-content-box-num {
                color: var(--tiklab-blue);
            }
            .project-status-num-content-box-name {
                color: var(--tiklab-blue);
            }
            
        }
    }
}