.home-new-work-trend {
    border-radius: 4px;
    background-color: var(--thoughtware-gray-600);
    flex: 1;
    padding: var(--thoughtware-padding);
    .home-new-work-trend-top {
        .home-new-work-trend-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
    .home-new-work-trend-content {
        width: 100%;
        height: 500px;
        
        border-radius: 4px;
        .delete-warning {
            font-weight: 600;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            height: 100%;
        }
    }
}