.todo-list-page {
    padding: var(--thoughtware-padding);;
    background: #fff;
    .todo-select {
        width: 200px;
    }
    .todo-list-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .todo-tab {
            display: flex;
            align-items: center;
            gap: 20px;
            .todo-tab-item {
                cursor: pointer;
                height: 30px;
                line-height: 30px;
                margin: 0 10px;
            }
            .todo-tab-item:hover {
                color: var(--thoughtware-bule);
            }
            .todo-tab-select {
                border-bottom: 2px solid var(--thoughtware-blue);
                color: var(--thoughtware-blue);
            }
        }
    }
    .todo-filter {
        display: flex;
        gap: 20px;
    }
    // .todo-item {
    //     margin-bottom: 10px;
    // }
    // .todo-work-title:hover {
    //     color: var(--thoughtware-blue);
    //     cursor: pointer;
    // }


    // .todo-item:nth-child(4n+1) {
    //     .todo-user-icon {
    //         background-color: #cadbf3;
    //     }
    // }

    // .todo-item:nth-child(4n+2){
    //     .todo-user-icon {
    //         background-color: #deedd7;
    //     }
    // }

    // .todo-item:nth-child(4n+3) {
    //     .todo-user-icon {
    //         background-color: #ffebee;
    //     }
    // }

    // .todo-item:nth-child(4n+4){
    //     .todo-user-icon {
    //         background-color: #e8eaf6;
    //     }
    // }
    .todo-pagination {
        text-align: center;
        margin-top: 10px;
    }
}