.todo {
    height: calc(100vh - 48px);
    overflow: auto;
}
.todo-list-page {
    padding: var(--tiklab-padding);;
    background: #fff;
    .todo-select {
        width: 200px;
    }
    .todo-filter {
        padding-bottom: var(--tiklab-padding);
        width: 100%;
        display: flex;
        gap: 20px;
    }
    .todo-item {
        margin-bottom: 10px;
        cursor: pointer;
    }
    .todo-pagination {
        text-align: center;
        margin-top: 10px;
    }
}