.todo-list-page {
    padding: var(--thoughtware-padding);;
    background: #fff;
    
    .todo-select {
        width: 200px;
    }
    .todo-list-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .todo-tab {
            display: flex;
            align-items: center;
            gap: 20px;
            .todo-tab-item {
                cursor: pointer;
                height: 40px;
                line-height: 40px;
            }
            .todo-tab-item:hover {
                color: var(--thoughtware-bule);
            }
            .todo-tab-select {
                border-bottom: 2px solid var(--thoughtware-blue);
                color: var(--thoughtware-blue);
            }
        }
    }
    .todo-filter {
        display: flex;
        gap: 20px;
    }
    .todo-pagination {
        text-align: center;
        margin-top: 10px;
    }
}
.prodetail-content {
    .todo-list-page {
        min-height: 100%;
        .todo-list-top {
            margin-top: 20px;
        }
        .todo-list {
            min-height: 100px;
        }
    }
}
.sprint-detail-content {
    .todo-list-page {
        min-height: 100%;
        .todo-list-top {
            margin-top: 20px;
        }
    }
  
}