.todo {
    height: calc(100vh - 48px);
    overflow: auto;
}
.todo-list-page {
    padding: var(--tiklab-padding-item);;
    background: #fff;
    min-height: calc(100vh - 145px);
    .todo-select {
        width: 200px;
    }
    .todo-filter {
        padding: 15px 0;
        width: 100%;
        display: flex;
        gap: 20px;
    }
    .todo-item {
        margin-bottom: 10px;
        cursor: pointer;
    }
    .todo-pagination {
        text-align: center;
        margin-top: 10px;
    }
}