.home-workitem-trend {
    border-radius: 4px;
    background-color: #fff;
    flex: 1;
    &-top {
        height: 40px;
        line-height: 40px;
        font-weight: var(--thoughtware-font-weight-bold);
        display: flex;
        margin-bottom: 10px;
        .home-workitem-trend-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
    .home-workitem-trend-content {
        width: 100%;
        height: 500px;
        background-color: var(--thoughtware-gray-600);
        border-radius: 4px;
        padding-top: 15px;
        .delete-warning {
            font-weight: 600;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            height: 100%;
        }
    }
}