.statistics-advert {
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    gap: 10px;
    &-title {
        font-size: 18px;
    }
    .statistics-advert-icon {
        width: 200px;
        height: 200px;
    }
}