.project-version {
    // height: calc(100% - 55px);
    // padding: var(--tiklab-padding);
    .ant-row {
        overflow: auto;
        height: 100%;
    }
    .project-version-list {
        background-color: #fff;
        height: 100%;
        padding: var(--tiklab-padding);
    }
    .version-name {
        cursor: pointer;
    }
    .version-name:hover {
        color: var(--tiklab-blue);
    }

    .version-tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        line-height: 50px;

        .version-tab {
            font-size: var(--tiklab-font-13);
            cursor: pointer;
            height: 50px;
            line-height: 50px;
            margin-right: 20px;
            white-space: nowrap;
        }

        .version-tab:last-child {
            margin-right: 0;
        }

        .active-tabs {
            border-bottom: 2px solid var(--tiklab-blue);
        }
    }

    .version-table-box {
        .version-status {
            padding: 2px 3px;
            background: #e2e1e4;
            border-radius: 4px;
            font-size: 10px;
            width: fit-content;
            color: #2b333e;
        }
        .version-master {
            display: flex;
            align-items: center;
        }
        .version-status-todo {
            background: #e2e1e4;
            color: #2b333e;
        }

        .version-status-process {
            background: #b0d5dfa1;
            color: #132c33;
        }

        .version-status-done {
            background: #dfecd5e3;
            color: #5e5314;
        }

        .ant-pagination-simple .ant-pagination-simple-pager input {
            user-select: none;
            pointer-events: none;
            padding: 0;
            border: 0;
        }
    }


    .version-filter {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .version-filter-right {
            display: flex;
            align-items: center;
            gap: 10px;
            .select-content {
                padding: 5px 10px;
                background-color: var(--tiklab-gray);
                width: 100px;
            }
        }
    }

    .version-search {
        width: 200px;
        border-radius: 4px;

    }

    .span-botton {
        cursor: pointer;
    }

}