.test-repository {
    height: 100%;
    overflow: auto;
    .test-repository-list {
        padding: var(--tiklab-padding);
    }
    .test-repository-list-top {
        display: flex;
        justify-content: space-between;
    }
    .test-repository-tab {
        display: flex;
        gap: 20px;
        position: sticky;
        padding-bottom: 15px;
        .test-repository-tab-item {
            cursor: pointer;
            background-color: var(--tiklab-gray-600);
            height: 32px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

        }

        .test-repository-tab-select {
            font-weight: var(--tiklab-font-weight-bold);
            color: var(--tiklab-blue);
            background-color: var(--tiklab-gray-400);
        }
    }
    .repository-title {
        
        cursor: pointer;
    }
    .testcase-title {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .testcase-title:hover {
        color: var(--tiklab-blue);
    }
    .repository-name:hover {
        color: var(--tiklab-blue);
    }
    .ant-alert-info {
        margin: 10px 0;
    }
}