.test-repository {
    .test-repository-list {
        padding: var(--tiklab-padding);
    }
    .repository-delete {
        color: var(--tiklab-blue);
        cursor: pointer;
    }
    .repository-title {
        color: var(--tiklab-blue);
        cursor: pointer;
    }
}