.version-detail-row {
    height: 100%;
}

.version-plan {
    padding: var(--thoughtware-padding);
    height: 100%;
    background: #fff;

    .version-plan-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        height: 100%;
        gap: 20px;
        overflow: auto;
        .version-plan-box {
            border-radius: 4px;
            background: #f7f7f7;
            padding-bottom: 2px;
            width: 500px;

            .version-plan-box-top {
                width: 100%;
                text-align: center;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                position: sticky;
                top: 0;
                background: #f7f7f7;
                .version-plan-title {
                    height: 40px;
                    line-height: 40px;
                }

                .version-plan-filter {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                    justify-content: space-around;

                    .select-view {
                        position: relative;
                        cursor: pointer;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 10px;
                        background: #f0f0f0;
                        border-radius: 4px;
                        width: 90px;
                    }
                }
            }

            .version-plan-box-content {
                height: calc(100% - 100px);
                overflow: auto;
            }

            .version-plan-box-content::-webkit-scrollbar {
                width: 5px;
            }
            .version-plan-box-content::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: var(--thoughtware-gray-400);
            }
            .version-plan-box-content::-webkit-scrollbar-track {
                border-radius: 0;
                background: var(--thoughtware-gray-600);
            }

            .version-plan-list {
                overflow: auto;
                padding: 0 20px;
                .change-page {
                    display: flex;
                    justify-content: center;
                    color: var(--thoughtware-blue);
                    cursor: pointer;
                }
            }

            .version-plan-item-box {
                margin: 0 auto;
                border-radius: 4px;
                margin-bottom: 10px;
                padding: 10px var(--thoughtware-padding);
                font-size: 13px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;

               gap: 20px;

                .work-item-left {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    min-width: 0;
                    flex: 1;
                    .work-item-info {
                        line-height: 30px;
                        flex-shrink: 1;
                        min-width: 0;
                    }
                    .work-item-id {
                        font-size: 12px;
                        color: var(--thoughtware-gray-500);
                    }
                    .work-item-title {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .work-item-master {
                    flex-shrink: 0;
                    width: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .work-item-status {
                    flex-shrink: 0;
                    width: 60px;
                    display: flex;
                    justify-content: flex-end;
                }
                .work-status {
                    padding: 2px 3px;
                    background: #e2e1e4;
                    border-radius: 4px;
                    font-size: 10px;
                    width: fit-content;
                    color: #2b333e;
                    flex-shrink: 0;
                } 
        
    
                .work-status-process {
                    background: #b0d5dfa1;
                    color: #132c33;
                }
    
                .work-status-done {
                    background: #dfecd5e3;
                    color: #5e5314;
                }
            }

            .box::-webkit-scrollbar {
                width: 0 !important;
                height: 0 !important;
            }

            .version-plan-list {
                -ms-overflow-style: none;
                overflow: -moz-scrollbars-none;

            }
        }
    }


}