.search {
    .short-box {
        width: 25px;
        height: 25px;
        transition: width 0.3s;
    }
    .long-box {
        width: 375px;
        height: 30px;
        transition: width 0.3s;
        border: 2px solid #dddd;
        padding-right: 10px;
    }
    .search-box {
        
        background: #fff;
        display: flex;
        border-radius: 25px;
        
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .search-box-input {
            border: none;
            height: 100%;
            outline: none;
            color: #000;
            border-radius: 25px;
            padding: 0 10px;
        }
        .show-input {
            width: 350px;
        }
        .hidden-input {
            width: 0;
            height: 0;
            display: none;
        }
    }


}

.hidden-box {
    display: none;
}

.show-box {
    width: 375px;
    max-height: 500px;
    min-height: 100px;
    transition: width 0.3s;
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    // margin-top: 5px;
    border-radius: 3px;
    z-index: 1;
    padding: 15px 0;
    color: #000;
    overflow: auto;
    .sort-box {
        .sort-title {
            color: #202d407a;
            font-size: 12px;
            padding-left: 10px;
            height: 20px;
            line-height: 20px;
        }

        .item-box {
            .item-one {
                padding: 0 10px;
                display: flex;
                align-items: center;
                height: 35px;

                cursor: pointer;

                img {
                    width: 20px;
                    height: 20px;
                }

                span {
                    width: 100px;
                    text-align: left;
                    margin-left: 20px;
                    overflow: hidden;
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .item-desc {
                color: #999;
                font-size: 12px;
            }

            .item-one:hover {
                background-color: #f5f7fa;
            }

        }

        .keyboard-select {
            background-color: #f5f7fa;
        }
    }

    .recent-box {
        padding: 0 15px;

        .recent-work {
            margin-bottom: 10px;

            .recent-work-title {
                font-size: 13px;
                color: #999;
                font-weight: 500;
                padding-bottom: 10px;
            }

            .recent-work-list {
                .work-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 20px;

                    .work-item-img {
                        display: flex;
                        align-items: center;
                        color: #333;

                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                    }

                    .work-item-project,
                    .work-item-status {
                        font-size: 12px;
                        color: #999;
                    }

                }
            }
        }

        .recent-project {
            .recent-project-title {
                font-size: 13px;
                color: #999;
                font-weight: 500;
                padding: 10px 0;
            }

            .recent-project-list {
                .project-item {
                    display: flex;
                    align-items: center;
                    padding-bottom: 20px;
                    cursor: pointer;

                    .project-item-img {

                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }

                        width: 60%;
                        display: flex;
                        align-items: center;
                        color: #333;
                    }

                    .project-type {
                        font-size: 12px;
                        color: #999;
                    }
                }
            }
        }
    }
}

