.version-detail-side {
    background-color: var(--tiklab-gray);
    border-right: 1px solid #f0f0f0;

    .ant-layout-sider-children {
        .version-aside-content {
            height: calc(100vh - var(--tiklab-head-height));
            display: flex;
            flex-direction: column;
            background: var(--tiklab-gray);

            ul {
                padding: 0;
                margin: 0;
            }

            .version-set-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 0;
            }

            .version-set-title {
                border-top: 1px solid #f0f2f5;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                margin-bottom: 10px;
            }

            .setting:hover {
                background-color: var(--tiklab-gray-400);
            }

            .setting {
                border-top: 1px solid #f0f2f5;
                cursor: pointer;
                span {
                    margin: 0 10px 0 10px;
                }

                .icon {
                    margin-left: 10px;
                }
            }

            .version-menu {
                list-style-type: none;
                cursor: pointer;
                flex: 1;
                .version-back-project {
                    margin-bottom: 10px;
                    border-bottom: 1px solid #d7d7d7;
                }
                .version-menu-submenu {
                    height: 40px;
                    display: flex;
                    line-height: 40px;
                    width: 100%;
                    align-items: center;
                    padding-left: 20px;
                    cursor: pointer;

                    i {
                        margin-right: 10px;
                    }
                }

                .version-menu-submenu-icon {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 10px;
                    padding: 5px 0;
                    cursor: pointer;

                    .version-aside-icon {
                        width: 15px;
                        height: 15px;
                    }
                }

                .version-menu-submenu-icon:hover {
                    background-color: var(--tiklab-gray-400);
                }

                .version-menu-submenu:hover {
                    background-color: var(--tiklab-gray-300);
                }

                .version-menu-select {
                    background-color: var(--tiklab-gray-400);
                    border-left: 3px solid var(--tiklab-blue);
                }
            }

            .hidden-menu {
                display: none;
            }

            .version-expend {
                position: absolute;
                right: -10px;
                width: 20px;
                height: 20px;
                background: #fff;
                border-radius: 20px;
                bottom: 120px;
                line-height: 20px;
                display: none;
                z-index: 2;

                .right {
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    font-weight: 600;

                }

                .right:hover {
                    color: var(--tiklab-blue);
                }
            }
        }
    }

    .ant-layout-sider-children:hover {
        .version-expend {
            display: block;
        }
    }

    .version-notext {
        display: none;
    }
}
