@import "_color";
@import "_base";
@import "_normalize";


.ant-modal-close-x {
    display: flex !important; 
    justify-content: center;
    align-items: center;
}

.ant-form-item-control-input-content .ant-btn {
    margin-right: 8px;
}

.ant-breadcrumb {
    font-size: 15px;
    font-weight: 600;
}

.ant-table-column-sorters {
    padding: 8px;
}

.span-botton {
    white-space: nowrap;
    cursor: pointer;
}
.span-botton:hover {
    color: var(--thoughtware-blue);
}
.delete {
    color: red;
}
.table-box {
    margin-top: 14px;
}
.ant-table-tbody>tr>td {
    border-bottom: 0 !important;
    padding: 8px !important;
}
.ant-table-thead>tr>th {
    background: #fff !important;
    font-weight: 600;
    padding: 8px;
    color: #666;
    font-size: 12px;
}
.ant-table table {
    border-bottom: 1px solid #f0f0f0;
}


.ant-modal-mask   {
    background-color: #4a60848f !important;
}

.ant-modal-wrap {
    display: flex;
    align-items: center;
}

.ant-modal {
    top: 0;
    padding: 0;
}
.ant-table-tbody>tr.ant-table-row:hover>td {
    background: none !important;
}
.ant-table-tbody>tr.ant-table-row:hover {
    background: #edf0f5 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--thoughtware-blue);
}
.ant-btn-primary{
    background-color: var(--thoughtware-blue);
}

.ant-btn-link {
    color: var(--thoughtware-blue);
}
.ant-modal-title {
	font-weight: 600;
}

.ant-modal-header {
    border-bottom: 0;
}

.ant-modal-footer {
    border-top: 0;
}

.icon {
    width: 15px; 
    height: 15px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 5px;
}
.button-icon {
    width: 15px; 
    height: 15px;
    margin-right: 5px;
}

.search-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        border-radius: 4px;;
        margin-right: 10px;
    }
}

.portal-layout-content {
    overflow: hidden !important;
}
.ant-divider-horizontal {
    margin: 12px 0 24px;
}
.ant-modal {
    .ant-modal-body {
        padding: 0 24px;
    }
}
.ant-modal-confirm {
    .ant-modal-body {
        padding: 32px 32px 24px;
    }
} 
.ant-form-item {
    margin: 0 0 20px;
}
.ant-form-item-explain {
    font-size: 13px;
}

.ant-form-item-label {
    font-size: 12px;
    font-weight: 600;
    
}

.ant-form-item-label>label {
    color: #666;
    font-size: 12px;
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
    content: "";
}

shadow-view {
    opacity: 1 !important;
}