.project-statistics-todotask {
    margin-top: 20px;
    .statistics-todotask-title {
        width: 100%;
        font-weight: var(--thoughtware-font-weight-bold);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .statistics-todotask-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .statistics-todotask-box {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            border-radius: 4px;
            margin-top: 10px;
            line-height: 35px;
            cursor: pointer;
            width: calc(50% - 5px);
            padding: var(--thoughtware-padding);
            background-color: var(--thoughtware-gray-600);
            gap: 10px;
            .statistics-todotask-box-num {
                font-size: 16px;
                font-weight: 600;
            }
            .statistics-todotask-box-name {
                color: #666;
            }
        }
        .statistics-todotask-box:hover {
            .statistics-todotask-box-num {
                color: var(--thoughtware-blue);
            }
            .statistics-todotask-box-name {
                color: var(--thoughtware-blue);
            }
            
        }
    }
}