.project-survey::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}
.project-survey-row {
    // background-color: var(--thoughtware-gray-800);
    height: 100%;
    overflow: auto;
}
.project-survey {
    padding: var(--thoughtware-padding);

    .box-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: var(--thoughtware-font-weight-bold);
        margin-bottom: 10px;
    }

    .upper-box {
        display: flex;
        justify-content: space-between;
        // margin-bottom: 15px;
        gap: 20px;
        .project-box {
            padding: var(--thoughtware-padding);
            background-color: #fff;
            border-radius: 4px;
            background-color: var(--thoughtware-gray-600);
            flex: 1;
            flex-shrink: 0;
            height: 500px;
            .project-container {
                .thoughtware-profile .ant-avatar {
                    width: 24px !important;
                    height: 24px !important;
                }

                .project-item {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 10px;

                    .item-content {

                        .item-top,
                        .item-bottom {
                            height: 30px;
                            line-height: 30px;
                        }

                        .item-bottom {
                            color: var(--thoughtware-gray-500);
                            font-size: 12px;
                        }

                       
                    }
                }
                .project-progress {
                    width: 100%;
                    .item-content {
                        width: calc(100% - 30px);
                    }
                    .item-progress {
                        width: 100%;
                        display: flex;
                        align-items: center;
                    }
                }
                .status-item {
                    cursor: pointer;
                    width: 100px;
                }

                .project-work {
                    display: flex;
                    justify-content: space-between;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    gap: 10px;
                }

            }
        }

        .burn-down-box {
            // width: calc(100% - 515px);
            flex: 1;
            flex-shrink: 0;
            height: 500px;
            padding: var(--thoughtware-padding);
            background-color: #fff;
            border-radius: 4px;
            background-color: var(--thoughtware-gray-600);
            .burn-down {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
        }

    }



    .milestone-box {
        background-color: #fff;
        border-radius: 4px;
        margin-top: 20px;
        &-timeline {
            padding: var(--thoughtware-padding);
            background-color: var(--thoughtware-gray-600);
            .timeline-item {
                text-align: center;
                color: var(--thoughtware-blue);

                .timeline-text {
                    height: 40px;
                    line-height: 40px;
                }

                .timeline-center {
                    display: flex;
                    align-items: center;

                    .time-point {
                        &-icon {
                            width: 20px;
                            height: 20px;
                            margin: 0 5px;
                        }
                    }
                }
            }

            .time-line {
                width: 50px;
                height: 1px;
                background: #d7d7d7;
            }
        }
    }

    .log-box {
        margin-top: 20px;
        .log-box-title {
            height: 40px;
            line-height: 40px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}