.project-survey::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.project-survey {
    padding: var(--tiklab-padding-item);
    background-color: var(--tiklab-gray-600);

    .box-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: var(--tiklab-font-weight-bold);
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
        // border-bottom: 1px solid #f0f0f0;
    }

    .upper-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .project-box {
            padding: 15px;
            background-color: #fff;
            border-radius: 4px;
            width: 500px;
            box-shadow: rgba(168, 176, 189, 0.25) 0px 4px 8px -2px, rgba(188, 194, 205, 0.31) 0px 0px 1px 0px;
            .project-container {
                .tiklab-profile .ant-avatar {
                    width: 24px !important;
                    height: 24px !important;
                }

                .project-item {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 10px;

                    .item-content {

                        .item-top,
                        .item-bottom {
                            height: 30px;
                            line-height: 30px;
                        }

                        .item-bottom {
                            color: var(--tiklab-gray-500);
                            font-size: 12px;
                        }

                        .item-progress {
                            width: 300px;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .status-item {
                    cursor: pointer;
                }

                .project-work {
                    display: flex;
                    gap: 20px;
                }

            }
        }

        .burn-down-box {
            width: calc(100% - 515px);
            padding: 15px;
            background-color: #fff;
            border-radius: 4px;

            box-shadow: rgba(168, 176, 189, 0.25) 0px 4px 8px -2px,
                rgba(188, 194, 205, 0.31) 0px 0px 1px 0px;

            .burn-down {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
        }

    }


    .dynamic-box {
        background-color: #fff;
        border-radius: 4px;
        padding-bottom: 20px;
        padding: 15px;
        box-shadow: rgba(168, 176, 189, 0.25) 0px 4px 8px -2px, rgba(188, 194, 205, 0.31) 0px 0px 1px 0px;
 
        .dynamic-list {
            .dynamic-item {
                cursor: pointer;
            }
        }
    }

    .epic-box {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: rgba(168, 176, 189, 0.25) 0px 4px 8px -2px, rgba(188, 194, 205, 0.31) 0px 0px 1px 0px;
        padding: 15px;

        &-timeline {
            display: flex;
            padding: 20px;
            justify-content: center;

            .timeline-item {
                text-align: center;
                color: var(--tiklab-blue);

                .timeline-text {
                    height: 40px;
                    line-height: 40px;
                }

                .timeline-center {
                    display: flex;
                    align-items: center;

                    .time-point {
                        &-icon {
                            width: 20px;
                            height: 20px;
                            margin: 0 5px;
                        }
                    }
                }
            }

            .time-line {
                width: 50px;
                height: 1px;
                background: #d7d7d7;
            }
        }
    }

    .recent-click {
        margin: 0 auto;
        margin-top: 15px;
        padding: 15px;
        background-color: #fff;
        border-radius: 4px;
        padding-bottom: 20px;
        flex: 1;
        margin-bottom: 15px;

        box-shadow: rgba(168, 176, 189, 0.25) 0px 4px 8px -2px, rgba(188, 194, 205, 0.31) 0px 0px 1px 0px;

        &-title {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-weight: var(--tiklab-font-weight-bold);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .more:hover {
                text-decoration: underline;
            }

            .more {
                color: var(--tiklab-blue);
                margin-left: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
        }

        .project-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .project-item-content {
                .content-name {
                    cursor: pointer;
                    color: var(--tiklab-blue);
                }

                .content-type {
                    font-size: 12px;
                    color: var(--tiklab-gray-500);
                }
            }
        }

        .work-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .work-content {
                .content-name {
                    cursor: pointer;
                    color: var(--tiklab-blue);
                }

                .content-type {
                    font-size: 12px;
                    color: var(--tiklab-gray-500);
                }
            }
        }

        .version-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .version-content {
                .content-name {
                    cursor: pointer;
                    color: var(--tiklab-blue);
                }

                .content-type {
                    font-size: 12px;
                    color: var(--tiklab-gray-500);
                }
            }
        }

        .sprint-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .sprint-content {
                .content-name {
                    cursor: pointer;
                    color: var(--tiklab-blue);
                }

                .content-type {
                    font-size: 12px;
                    color: var(--tiklab-gray-500);
                }
            }
        }

        .item-time {
            flex: 1;
            text-align: right;
        }
    }

}