.project-statistics {
    background-color: #fff;
    height: calc(100vh - 64px);
    overflow: hidden;
        .statistics-aside {
            background: $side-color;
            width: 180px;
            height: 100%;
            ul, li {
                padding: 0;
            }
            .statistics-menu {
                list-style-type:none;
                
                // height: 82vh;
                &-firstmenu {
                    height: 40px;
                    display: flex;
                    line-height: 40px;
                    width: 100%;
                    align-items: center;
                    padding-left: 20px;
                    cursor: pointer;
                    i{
                        margin-right: 10px;
                    }
                }
                &-select {
                    background-color: $side-select;
                }
                &-submenu {
                    display: flex;
                    justify-content: space-between;
                    height: 40px;
                    display: flex;
                    line-height: 40px;
                    width: 100%;
                    align-items: center;
                    padding-left: 40px;
                    padding-right: 20px;
                    cursor: pointer;
                    font-size: 12px; 
                }
            }
            
        }
    }
    .statistics-content{
        overflow: auto;
        .ant-tabs {
            overflow: visible;
        }
    }
    .statistics-work{
        &-table {
            margin-top: 20px;
        }

    }
    .statistics-aside-popover {
        margin: 0;
        padding: 0;
        div:hover{
            background-color: #E3E8F0;
            color: $blue-main;
        }
        div {
            width: 100px;
            cursor: pointer;
            height: 35px;
            line-height: 35px;
            text-align: center;
        }
    }
    .ant-popover-inner-content {
        padding: 0;
    }
    .statistics-menu-icon {
        margin-right: 10px;
    }