.log-aside {
    height: 100%;
    background-color: var(--thoughtware-gray-600);
    .log-aside-name {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom: 1px solid #f0f0f0;
        font-weight: 600;
    }
    // padding-top: 20px;
    .log-aside-content {
        height: calc(100% - 40px);
        overflow: auto;
    }

    ul,
    li {
        list-style: none;

    }

    .log-aside-hidden {
        display: none;
    }

    .log-aside-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        cursor: pointer;

    }

    .log-aside-item-left {
        display: inline-flex;
        align-items: center;
    }

    .log-aside-li {
        line-height: 40px;
        cursor: pointer;
    }
    .log-aside-second{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20;
    }

    .log-aside-ul {
        padding: 0;
    }

    .log-aside-second:hover {
        background-color: var(--thoughtware-gray-400);
    }

    .log-aside-first:hover {
        background-color: var(--thoughtware-gray-400);
    }

    .log-aside-select {
        background-color: var(--thoughtware-gray-400);
    }
}