.log-tab-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .log-view-tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        line-height: 50px;

        .log-view-tab {
            font-size: var(--thoughtware-font-13);
            cursor: pointer;
            height: 50px;
            line-height: 50px;
            margin-right: 20px;
        }

        .log-view-tab:last-child {
            margin-right: 0;
        }

        .active-tabs {
            font-weight: var(--thoughtware-font-weight-bold);
            color: #000;
            border-bottom: 2px solid var(--thoughtware-blue);
        }
    }
    .log-tab-filter-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
}