.log {
    height: 100%;
    
}

.log-content {
    height: 100%;
    .log-table {
        height: 100%;
        background-color: #fff;
        padding: var(--tiklab-padding-item);;
        .top-botton {
            display: flex;
            justify-content: space-between;
        }
        .log-from {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
}

.log-aside {
    height: 100%;
    background-color: var(--tiklab-gray);
    .log-title {
        height: 40px;
        display: flex;
        line-height: 40px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        font-weight: var(--tiklab-font-weight-bold);
        color: #000;
        border-bottom: 1px solid #f0f2f5;
    }
    .log-aside-top {
       height: calc(97% - 70px);
       overflow: auto;
    }
    ul,li {
        list-style: none;
        
    }
    .log-aside-hidden {
        display: none;
    }
    .log-aside-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        cursor: pointer;
        

    }
    .log-aside-li {
        line-height: 40px;
    }
    .log-aside-ul {
        padding: 0;
    }
    .log-aside-second:hover {
        span {
            color: var(--tiklab-blue);
        }
    }
    .log-aside-first:hover{
        .log-aside-title {
            color: var(--tiklab-blue);
        }
    }
    .log-aside-select {
        
        background-color: var(--tiklab-gray-400);
        border-left: 3px solid var(--tiklab-gray-400);
    }
}