.log-add {
    .log-add-time {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        gap: 20px;
        .log-form-item {
            flex: 1;
        }
    }
    
}