
    .work-logtable {
        height: calc(100% - 85px);
        overflow: auto;
        
        .work-logtable-heard {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            line-height: 40px;
            border-bottom: 1px solid #f0f0f0;
            .logtable-heard-user, .logtable-heard-total, .logtable-heard-project {
                min-width: 80px;
            }
            .logtable-heard-timemap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 1;
                div {
                    text-align: center;
                    flex: 1;
                    min-width: 100px;
                }
            }
        }
    
        .work-logtable-contant {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            border-bottom: 1px solid #f0f0f0;
            .logtable-contant-user, .logtable-contant-total, .logtable-contant-project {
                min-width: 80px;
            }
            .logtable-contant-statistic-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logtable-contant-project {
                    min-width: 80px;
                }
            }
            .logtable-contant-user {
                height: 40px;
                line-height: 40px;
                overflow: hidden;
            }
            .logtable-contant-project {
                div {
                    height: 40px;
                    line-height: 40px;
                }
            }
            .logtable-contant-statistic {
                flex: 1;
            }
            .logtable-contant-takeuptime {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 1;
                div {
                    text-align: center;
                    flex: 1;
                    height: 40px;
                    line-height: 40px;
                    min-width: 100px;
                }
            }
        }
    }
