.dynamic-box {
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 20px;
    padding: var(--thoughtware-padding);
    .box-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: var(--thoughtware-font-weight-bold);
        // height: 30px;
        // line-height: 30px;
        margin-bottom: 10px;
        // border-bottom: 1px solid #f0f0f0;
    }
    .dynamic-list {
        .dynamic-item {
            margin-bottom: 10px;
            .dynamic-work-title:hover {
                color: var(--thoughtware-blue);
            }
        }
        .dynamic-item:nth-child(4n+1) {
            .dynamic-user-icon {
                background-color: #cadbf3;
            }
        }

        .dynamic-item:nth-child(4n+2){
            .dynamic-user-icon {
                background-color: #deedd7;
            }
        }

        .dynamic-item:nth-child(4n+3) {
            .dynamic-user-icon {
                background-color: #ffebee;
            }
        }

        .dynamic-item:nth-child(4n+4){
            .dynamic-user-icon {
                background-color: #e8eaf6;
            }
        }
    }
}