.dynamic-box {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 25px;
    .box-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: var(--tiklab-font-weight-bold);
        margin-bottom: 10px;
    }
    .dynamic-list {
        .dynamic-item {
            margin-bottom: 10px;
            .dynamic-work-title:hover {
                color: var(--tiklab-blue);
            }
        }
        .dynamic-list-item:nth-child(4n+1) {
            .dynamic-user-icon {
                background-color: #cadbf3;
            }
        }

        .dynamic-list-item:nth-child(4n+2){
            .dynamic-user-icon {
                background-color: #deedd7;
            }
        }

        .dynamic-list:nth-child(4n+3) {
            .dynamic-user-icon {
                background-color: #ffebee;
            }
        }

        .dynamic-item:nth-child(4n+4){
            .dynamic-user-icon {
                background-color: #e8eaf6;
            }
        }
    }
}