.todo-box {
    background-color: #fff;
    margin-top: 25px;
    .todo-box-title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-weight: var(--tiklab-font-weight-bold);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .more:hover{
            text-decoration:underline;
        }
        .more {
            color: var(--tiklab-blue);
            margin-left: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
    .todo-list {
        margin-top: 10px;
    }
}
