.statistics-work {
    .statistics-work-top {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 0 10px;
        background-color: #fff;
        box-shadow: var(--ds-shadow-overlay, 0 0 1px rgba(9, 30, 66, 0.31), 0 5px 10px -8px rgba(9, 30, 66, 0.25));
        margin-bottom: 10px;
        .statistics-work-icon-logo {
            width: 30px;
            height: 30px;
        }
        .statistics-work-title {
            font-weight: 600;
            font-size: 16px;
        }
        .statistics-work-icon-search {
            margin-right: 20px;
            width: 25px;
            height: 25px;
        }
    }
    .statistics-work-content {
        font-size: 12px;
        padding: 0 10px;
        .statistics-filter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            padding: 0 10px 10px;
            .statistics-dropdown-value {
                flex: 1;
                border: 1px solid #f7f7f7;
                margin:0 10px;
                padding: 5px;
                border-radius: 5px;
                background: #f7f7f7;
            }
            .statistics-work-botton {
                width: 50px;
                height: 40px;
                line-height: 40px;
            }
        }
        .adm-tabs-content {
            background-color: #fff;
        }
        
    }
}