.project-add-form {
    .adm-input {
        --font-size: 13px;
    }
    .adm-list {
        --font-size: 13px;
    }
    .adm-form-item.adm-form-item-vertical .adm-form-item-label {
        font-size: 13px;
    }
}
.adm-modal {
    .adm-modal-button {
        font-size: 14px;
    }
}
