.epic-workitem {
    .epic-table {
        margin-top: 10px;
        border-bottom: 1px solid var(--tiklab-gray-400);
        .epic-table-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 30px;
            border-bottom: 1px solid var(--tiklab-gray-400);
            color: #5E6C84;
            font-size: 12px;
            font-weight: 600;
            .header-name, .header-data {
                flex: 2;
            }
            .header-master, .header-status, .header-type, .header-action {
                flex: 1;
            }
            .epic-header-td {
                padding: 5px;
            }
        }
        .epic-table-hidden {
            display: none;
        }
        .epic-table-child {
            .epic-child-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 30px;
                .epic-item-name {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
                .epicName {
                    color: var(--tiklab-blue);
                }
            }
            .epic-item-title, .epic-item-data {
                flex: 2;
            }
            .epic-item-master, .epic-item-status, .epic-item-type, .epic-item-action {
                flex: 1;
            }
            .epic-item {
                padding: 5px;
            }
        }
        .epic-table-workitem {
            .epic-workitem-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 30px;
                .workitem-row-name {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
                .workitemName {
                    color: var(--tiklab-blue);
                }
            }
            .workitem-row-title, .workitem-row-data {
                flex: 2;
            }
            .workitem-row-assigner, .workitem-row-status, .workitem-row-type, .workitem-row-action {
                flex: 1;
            }
            .workitem-row-action {
                cursor: pointer;
                color: var(--tiklab-blue)
            }
            .workitem-row {
                padding: 5px;
            }
        }
    }
}