.version-basicinfo {
    height: 100%;
    overflow: auto;
}
.version-info-title {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}
.version-set-basicinfo {
    padding: var(--tiklab-padding);
    .version-set-title {
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .version-set-icon {
        .version-form-icon {
            align-items: center;
        }
        .version-form-icon-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .version-set-icon-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        color: #ff0000;
    }
    .change-button {
        text-align: center;
        height: 30px;
        line-height: 30px;
        background: var(--tiklab-blue);
        color: #fff;
        border-radius: 4px;
        width: 100px;
        font-size: 12px;
    }
    .delete-button {
        background: #ff0000;
    }
}
.version-info {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
    .ant-form-item {
        margin-bottom: 20px;
    }
    
}
.version-icon-modal {
    .version-icon-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .version-icon {
            margin-right: 10px;
            box-sizing: content-box;
        }
        .icon-select {
            border: 2px solid var(--tiklab-blue);
        }
    }
}
.version-delete-confirm {
    .ant-alert {
        margin-bottom: 10px;
    }
}