.sprint-detail {
    height: 100%;
    overflow: hidden;
    .sprint-detail-content {
        background: #fff;
        height: 100%;
    }
    .sprint-aside-more {
        text-align: center;
        height: 40px;
        line-height: 40px;
    }
    .sprint-detail-empty {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.expend>.ant-table-cell {
    padding-left: 0;
    padding-right: 0;

    .ant-table {
        margin-right: 0 !important;
    }

}

.expend {
    .ant-table {
        margin: -16px -16px -16px 0 !important;
    }
}