.change-sprint {
    position: relative;

    .sprint-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding: 15px 12px;
        font-weight: 600;
        cursor: pointer;
        .sprint-text {
            flex: 1;
            .type {
                font-size: 12px;
                font-weight: 500;
            }
        }

        span {
            width: 100px;
            height: 100%;
            overflow: hidden;

            i {
                margin-right: 10px;
            }
        }

        .sprint-aside-icon {
            width: 15px;
            height: 15px;
        }
    }

    .sprint-title-icon {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px 21px;
        cursor: pointer;
        .sprint-aside-icon {
            width: 15px;
            height: 15px;
            cursor: pointer;
        }
    }


    .change-sprint-botton {
        height: 40px;
        line-height: 40px;
        width: 100%;
        text-align: center;
    }
    .change-sprint-box {
        position: absolute;
        top: 0;
        z-index: 100;
        width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 4px;
        background: #fff;
        color: #000;
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
        .change-sprint-head {
            height: 40px;
            line-height: 40px;
            font-weight: 500;
            font-size: 14px;
            padding: 0 20px;
            border-bottom: 1px solid #F0F0F0;
        }
    }
    .change-sprint-item {
        padding: 0 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 5px;
        .change-sprint-info {
            line-height: 30px;
            flex: 1;
            .change-sprint-state {
                font-size: 12px;
                color: var(--thoughtware-gray-500);
            }
        }
    }

    .change-sprint-more {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        border-top: 1px solid #F0F0F0;
        color: var(--thoughtware-blue);
        font-size: 13px;
    }
    .change-sprint-more:hover {
        text-decoration: underline;
    }

    .change-sprint-selectName {
        background-color: var(--thoughtware-gray-400);
    }
   
    .menu-show {
        display: block;
    }
    .menu-hidden {
        display: none;
    }
}