.project-milestone {
    height: calc(100vh - 55px);
    padding: var(--tiklab-padding-item);;
    .search {
        width: 200px;
        margin-top: 20px;
    }
    .milestone-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .milestone-breadcrumb {
        display: flex;
        align-items: center;
        padding: 10px 0px;
        font-size: 15px;
        font-weight: var(--tiklab-font-weight-bold);
        &-icon {
            width: 25px;
            height: 25px;
        }
        &-second {
            width: 20px;
            height: 15px;
            margin: 0 6px;
        }
    }
    &-list {
        flex: 1;
    }
}