.statistics-work {
    .statistics-work-top {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 1;
        padding: 15px 15px 0 15px;

        .statistics-work-title {
            height: 40px;
            line-height: 40px;
            font-weight: 600;
            font-size: 16px;
        }

        .ant-form {
            padding: 15px 0;
        }
    }

    .statistics-work-content {
        padding: 0 15px 15px 15px;

        .statistics-work-table {
            padding: 15px 0;
        }

        .statistics-work-bar {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        }
    }
}