.work-gattn-time {
    ul {
        margin: 0;
        padding: 0;
    }
    position: relative;
    height: calc(100% - 190px);
    margin: 20px;
    .time-table {
        text-align: center;
        .table-border {
            border-bottom: 1px solid #fafafa;
            height: 50px;
            line-height: 50px;
        }
        .table-hearder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            background-color: var(--thoughtware-gray-200);
            overflow: hidden;
            font-weight: var(--thoughtware-font-weight-bold);
            position: relative;
            top: 0;
            .table-hearder-text {
                height: 50px;
                width: 300px;
            }

            .table-hearder-gatter  {
                flex: 1;
                height: 50px;
                font-weight: var(--thoughtware-font-weight-bold);
                overflow: auto;
            }
            .table-hearder-gatter::-webkit-scrollbar { 
                width: 0 !important;
                height: 0 !important;
            }
            .table-hearder-gatter {
                -ms-overflow-style: none;
                overflow: -moz-scrollbars-none;
            }
            
            .table-hearder-text {
                height: 50px;
                text-align: left;
                padding-left: 15px;
            }

            .table-hearder-title {
                width: 300px;
            }

            .table-hearder-status {
                width: 60px;
            }

            .table-hearder-assigner {
                width: 90px;
                border-right: 1px solid var(--thoughtware-gray);
            }

            .table-hearder-time {
                width: 250px;
                border-right: 1px solid var(--thoughtware-gray);
            }

            .table-timer {
                .table-month {
                    height: 25px;
                    line-height: 25px;
                    display: inline-flex;
                    .table-month-td {
                        border-right: solid #fff 1px;
                        font-size: 12px;
                        overflow: hidden;
                    }
                }
            }
            .table-date {
                height: 25px;
                display: inline-flex;
                text-align: center;
                border-bottom: 1px solid  var(--thoughtware-gray);
                line-height: 25px;
            }
            .table-day {
                border-right: #E6EDFA solid 1px;
                font-size: 12px;
            }
        }
        .table-hidden {
            display: none;
        }
        .table-tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            .table-td {
                height: 50px;
                position: relative;
                padding-left: 15px;
                text-align: left;

                .table-icon {
                    display: inline-block;
                    position: absolute;
                    left: 10px;
                    top: 18px;
                }
            }
            .table-td-name {
                width: 300px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                .table-work-name {
                    display: flex;
                    align-items: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .table-work-id {
                    color: var(--thoughtware-gray-500);
                    line-height: 25px;
                    margin-right: 5px;
                }
                .table-work-text {
                    cursor: pointer;
                }
            }

            .table-td-status {
                width: 60px;
            }

            .table-td-assigner {
                width: 90px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-right: #f0f0f0 1px solid;
            }

            .table-gatter {
                flex: 1
            }
        }
    }
    .table-body  {
        max-height: calc(100% - 50px);
        overflow-y: hidden;
        .table-grey {
            background: #f7f7f7;
        }
        // ul:nth-child(2n+0)
        // {
        //     background:#f7f7f7;
        // }
    }
    .table-pic::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }
    .table-pic {
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }

    .table-pic {
        position: absolute;
        top: 50px;
        right: 0;
        width: calc(100% - 450px);
        max-height: calc(100% - 50px);
        overflow-x: auto;
        overflow-y: hidden;
        // border-left: var(--thoughtware-gray-200) 2px solid;
        .table-date-background {
            // display: flex;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            display: inline-flex;
            text-align: center;

            // line-height: 25px;
            .table-weekday {
                border-right: 1px solid #f0f0f0;
                box-sizing: border-box;
            }

            .table-month {
                border-right: 1px solid #f0f0f0;
            }
        }
        .table-overflow {
            overflow: auto;
        }
        .table-date {
            height: 25px;
            display: inline-flex;
            text-align: center;
        }
        .table-day {
            border-right: var(--thoughtware-gray-200) solid 1px;
        }
        .table-timer {
            .table-month {
                height: 25px;
                line-height: 25px;
                background-color:  var(--thoughtware-gray-200);
                display: inline-flex;
                .table-month-td {
                    border-right: solid #fff 1px;
                }
            }
        }
        .table-overflow {
            height: 100%;
            .gantt-box {
                height: calc(100% - 50px) !important;
            }
        }
    }
    
}

.scroll-row {
    display: flex;
    justify-content: flex-end;
    // margin-top: 20px;
    padding: 0 10px;
    .scroll-box {
        width: calc(100% - 450px);
        height: 10px;
        background-color: #f5f5f5;
        border-radius: 4px;
        position: relative;
        .scroll-slider {
            width: 100px;
            height: 10px;
            background-color: rgba(0,0,0,0.4);
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.scroll-col {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50;
    right: -13px;
    height: calc(100% - 50px);
    .scroll-box {
        width: 10px;
        height: 100%;
        background-color: #f5f5f5;
        border-radius: 4px;
        position: relative;
        .scroll-slider {
            width: 10px;
            height: 100px;
            background-color: rgba(0,0,0,0.4);
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.work-gantee-pagetion {
    padding: 0 10px;
}