
.work-list-col {
    padding: var(--tiklab-padding-item);
}
.work-table {
    padding: 0 15px;
    .work-first-col {
        display: flex;
        align-items: center;
    }
    
    .ant-table-thead {
        .work-first-col {
            display: table-cell;
        }
       
        .ant-table-cell:hover {
            .ant-table-column-sorter-full {
                visibility: visible;
            }
        }
        .hidden-sort-icon {
            .ant-table-column-sorter-full {
                visibility: hidden;
            }
        }
        .show-sort-icon {
            .ant-table-column-sorter-full {
                visibility: visible;
            }
        }
        th.ant-table-column-sort {
            background: #fff;
        }
    }
    td.ant-table-column-sort {
        background-color: #fff;
    }
    .work-icon {
        img {
            margin-right: 5px;
        }
    }
    .work-info-text {
        font-size: 13px;
    }
    .work-info {
        display: flex;
        align-items: center;
       
        .tiklab-profile {
            .ant-avatar{
                width: 16px !important;
                height: 16px !important;
            }
        }
    }
    .work-status {
        padding: 2px 3px;
        background: #e2e1e4;
        border-radius: 4px;
        font-size: 10px;
        width: fit-content;
        color: #2b333e;
    }
    .work-status-process{
        background: #b0d5dfa1;
        color: #132c33;
    }
    .work-status-done {
        background: #dfecd5e3;
        color: #5e5314;
    }
    .work-name {
        display: flex;
        align-items: center;
        margin-left: 5px;
        .work-key {
            color: var(--tiklab-gray-500);
            line-height: 25px;
        }
        .work-text {
            cursor: pointer;
            color: var(--tiklab-blue);
            line-height: 25px;
            height: 22px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 300px;
        }
        .work-text:hover {
            text-decoration: underline;
        }
    }
}