.work-child {
    .child-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        line-height: 32px;
    }
    .work-title {
        color: var(--thoughtware-blue);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        .work-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 300px;
        }
    }
    .child-create-input {
        height: 35px;
        border-radius: 4px;
        border: 1px solid var(--thoughtware-blue);
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        color: #999;
        margin-bottom: 10px;
        .ant-input:hover {
            border: 0;
        }
        .ant-input {
            width: 80%;
            border: 0;
        }
        .ant-input:focus {
            box-shadow: none;
        }
        .child-create-submit {
            display: flex;
            gap: 10px;
            .create-submit {
                cursor: pointer;
                color: var(--thoughtware-blue);
            }

            .create-cancel {
                cursor: pointer;
            }
        }
    }

    .work-status {
        padding: 2px 3px;
        background: #e2e1e4;
        border-radius: 4px;
        font-size: 10px;
        width: fit-content;
        color: #2b333e;
    }

    .work-status-process {
        background: #b0d5dfa1;
        color: #132c33;
    }

    .work-status-done {
        background: #dfecd5e3;
        color: #5e5314;
    }

    .child-top-title {
        font-size: 16px;
        font-weight: var(--thoughtware-font-weight-bold);
    }
    .child-top-botton {
        display: flex;
        gap: 10px;
    }
    .child-content {
        background: #fff;
        border-radius: 4px;
        position: relative;
        height: calc(100% - 30px);
        .ant-table {
            overflow: auto;
            // max-height: calc(100% - 100px);
            border-top: 1px solid #f0f0f0;
            .ant-table-tbody>tr>td {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}