.work-table-second {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    .work-table-row {
        flex: 1;
    }
    .work-table-filter {
        display: flex;
        align-items: center;
        gap: 15px;
       
        .select-group-title {
            font-weight: 600;
            color: var(--thoughtware-gray-500);
            font-size: 12px;
            padding: 10 10px 5px;
        }
        .worklist-icon {
            width: 15px;
            height: 15px;
        }

        .select-content {
            padding: 5px 10px;
            background-color: var(--thoughtware-gray);
            width: 100px;
        }

        .select-content:hover {
            background-color: var(--thoughtware-gray-400);
            color: var(--thoughtware-black);
        }
        .worklist-table-search {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search-input {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border: 2px solid #f0f0f0;
                height: 32px;
                line-height: 32px;
                border-radius: 4px;
            }

            .search-cancel {
                cursor: pointer;
            }

            .search-cancel:hover {
                color: var(--thoughtware-blue);
            }

            .worklist-icon {
                width: 15px;
                height: 15px;
            }
        }
        
    }
    .work-view {
        cursor: pointer;
    }
}