.work-creat {
    position: relative;
    .work-button-icon:hover {
        background: rgba(9, 30, 66, 0.08);
        text-decoration: inherit;
        transition-duration: 0s, 0.15s;
        border-radius: 3px;
    }
    .work-button-active {
        background: rgba(9, 30, 66, 0.08);
        text-decoration: inherit;
        transition-duration: 0s, 0.15s;
        border-radius: 3px;
    }
    .work-type-box {
        position: absolute;
        // top: 0;
        z-index: 100;
        // width: 200px;
        border-radius: 4px;
        width: 125px;
        background: #fff;
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
        // .work-type-box-title {
        //     height: 40px;
        //     line-height: 40px;
        //     font-weight: 500;
        //     font-size: 14px;
        //     padding: 0 20px;
        //     border-bottom: 1px solid #F0F0F0;
        // }
    }
    .work-type-item {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        cursor: pointer;
        .work-type-item-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .work-type-item:hover {
        background-color: var(--tiklab-gray-400);
    }
    .right-icon {
        width: 16px;
        height: 16px;
    }
    .menu-show {
        display: block;
    }
    .menu-hidden {
        display: none;
    }
}