// .work-list-col {
//     padding: var(--thoughtware-padding);
// }
.work-table-small {
    padding: var(--thoughtware-padding);
}
.work-table {
    padding-top: var(--thoughtware-padding);
    padding-bottom: var(--thoughtware-padding);
    .work-table-content {
        padding-top: var(--thoughtware-padding);
        .ant-table-measure-row {
            display: none;
        }
        .ant-pagination {
            margin: 16px 0 0;
        }
        .work-first-col {
            display: inline-flex;
            align-items: center;
            width: 200px;
        }
        .ant-pagination-total-text {
            color: #666;
        }
        .ant-table-cell {
            white-space: nowrap;
            height: 50px;
        }
        .ant-table-thead {
            .work-first-col {
                display: table-cell;
                padding-left: 23px;
            }

            .ant-table-cell:hover {
                .ant-table-column-sorter-full {
                    visibility: visible;
                }
            }
            
            
            .hidden-sort-icon {
                .ant-table-column-sorter-full {
                    visibility: hidden;
                }
            }

            .show-sort-icon {
                .ant-table-column-sorter-full {
                    visibility: visible;
                }
            }

            th.ant-table-column-sort {
                background: #fff;
            }
        }

        td.ant-table-column-sort {
            background-color: #fff;
        }

        .work-info-text {
            font-size: 13px;
        }

        .work-table-select {
            background: #edf0f5;
        }

        .work-info {
            display: flex;
            align-items: center;

            .thoughtware-profile {
                .ant-avatar {
                    width: 16px !important;
                    height: 16px !important;
                }
            }
        }

        .work-status {
            padding: 2px 3px;
            background: #e2e1e4;
            border-radius: 4px;
            font-size: 10px;
            width: fit-content;
            color: #2b333e;
        }

        .work-status-process {
            background: #b0d5dfa1;
            color: #132c33;
        }

        .work-status-done {
            background: #dfecd5e3;
            color: #5e5314;
        }

        .work-id {
            display: inline-flex;
            align-items: center;
            margin-left: 5px;
            gap: 5px;
            .work-key {
                color: var(--thoughtware-gray-500);
            }
            .work-key:hover {
                color: var(--thoughtware-blue);
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .work-title {
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 300px;
            
        }
        .work-title:hover {
            color: var(--thoughtware-blue);
            text-decoration: underline;
        }
    }
}