.worklog-creat {

    .worklog-creat-title {
        font-size: 13px;
        padding: 10px 0;
        font-weight: var(--thoughtware-font-weight-bold);
    }

    .worklog-creat-button {
        display: flex;
        gap: 10px;
        // justify-content: end;
    }
}