.work-quick-filter {
    flex: 1;
    .select-view {
        height: 32px;
    }
    .select-content {
        padding: 5px 10px;
        background-color: var(--thoughtware-gray-610);
        width: 100%;
    }
}