@media (max-width: 768px) {
    .work-add-page {
        height: calc(100vh - 20px);
    }
}

/* 在分辨率大于 768px 且小于等于 1024px 时应用的样式 */
@media (min-width: 769px) and (max-width: 1280px) {
    .work-add-page {
        height: calc(100vh - 60px);
    }
}

/* 在分辨率大于 1024px 时应用的样式 */
@media (min-width: 1280px) {
    .work-add-page {
        height: 80vh;
    }
}

.work-add-page {
    gap: 20px;

    .work-add-page-content {
        // padding: 0 15px;
        display: flex;
        flex-direction: column;
        height: 100%;

        .work-add-page-title {
            font-size: var(--thoughtware-font-16);
            font-weight: var(--thoughtware-font-weight-bold);
            padding: var(--thoughtware-padding);
        }

        .work-add-page-form {
            overflow: auto;
            padding: 0 var(--thoughtware-padding);
            min-height: calc(100% - 120px);
        }

        .work-add-form {
            flex: 1;
            overflow: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .work-add-desc {
                flex: 1;
            }

            .ant-form-item {
                // flex-direction: row;

                .ant-form-item-control {
                    height: calc(100% - 30px);

                    .ant-form-item-control-input {
                        height: 100%;

                        .edit {
                            height: 100%;
                        }

                        .edit-box {
                            height: calc(100% - 49px);
                        }
                        .edit-box::-webkit-scrollbar {
                            width: 0;
                        }
                    }
                }
            }
        }

        .work-add-button {
            display: flex;
            gap: 10px;
            padding: 10px var(--thoughtware-padding);
            justify-content: flex-end;
        }

        .desc-botton {
            display: flex;
            gap: 10px;
            height: 40px;
            line-height: 40px;

            .desc-cancel {
                cursor: pointer;
            }

            .desc-true {
                cursor: pointer;
                color: var(--thoughtware-blue);
            }
        }

        .ant-upload-drag-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0 !important;
        }


        .ant-upload-drag {
            background: var(--thoughtware-gray-300);

        }
    }

    .work-add-page-right {
        background-color: var(--thoughtware-gray-600);
        flex: 1;
        padding: 15px;
        overflow: auto;

        .ant-form-item {
            margin: 0 0 15px;
        }

        .ant-input {
            margin-left: 10px;
        }

        .ant-input-number {
            margin-left: 10px;
        }

        .ant-form-item-label {
            padding-left: 11px;
        }
    }
}