.work-testcase {
    .testcase-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .testcase-top-title {
        font-size: 14px;
    }

    .ant-table table {
        border-bottom: 0;
    }

    .testcase-table {
        background: #fff;
        padding: 15px;
        border-radius: 4px;
        .testcase-title {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .testcase-title:hover {
            color: var(--tiklab-blue);
        }
    }
    .testcase-content {
        background: #fff;
        border-radius: 4px;
        position: relative;
        height: calc(100% - 100px);
    }
}