.work-dynamic {
    background: #fff;
    border-radius: 4px;
    .work-dynamic-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        line-height: 32px;
        .work-dynamic-title {
            font-size: 14px;
        }
        .ant-picker {
            background-color: var(--tiklab-gray);
            border: 0;
            
        }
        .ant-picker:hover {
            background-color: var(--tiklab-gray-400);
            border: 0;
        }
        .ant-picker-clear {
            background-color: var(--tiklab-gray-400);
        }
        .ant-picker-focused {
            box-shadow: none;
        }
    }
    
    .todo-item {
        margin-bottom: 10px;
    }
}

