.work-log {
    .worklog-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .worklog-top-title {
            font-size: 16px;
            font-weight: 600;
        }
    }

    

    .work-log-item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
        justify-content: space-between;
        .edit-box {
            padding-bottom: 10px;
            border-top: 1px soild #f0f0f0;
            border-bottom: 1px soild #f0f0f0;
        }
        .ant-form-item {
            margin-bottom: 20px;
        }
        .work-log-item-first {
            display: flex;
            align-items: center;
            line-height: 40px;
            justify-content: space-between;
            .log-item-date {
                font-size: 13px;
                color: #999;
            }
            .work-log-item-user {
                display: flex;
                align-items: center;
                gap: 10px;
             
            }
        }
        .work-log-item-second {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 32px;
            .log-content {
                line-height: 30px;
            }
            .log-action {
                display: flex;
            }
        }
    }
    .work-log-item:nth-child(4n+1) {
        .user-big-icon {
            background-color: #cadbf3;
        }
    }

    .work-log-item:nth-child(4n+2) {
        .user-big-icon {
            background-color: #deedd7;
        }
    }

    .work-log-item:nth-child(4n+3) {
        .user-big-icon {
            background-color: #ffebee;
        }
    }

    .work-log-item:nth-child(4n+4) {
        .user-big-icon {
            background-color: #e8eaf6;
        }
    }
    .ant-table table {
        border-bottom: 0;
    }

    .worklog-table-title {
        font-size: 13px;
        font-weight: var(--thoughtware-font-weight-bold);
    }

    .worklog-table {
        background: #fff;
        padding: 15px 0;
        border-radius: 4px;
    }
    // .edit-box {
    //     background: #fafafa;
    //     padding: 0 10px 10px;
    //     border-radius: 5px;
    // }
    .work-log-static {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .log-static-item {
            flex: 1;
            .log-static-item-title {
                height: 40px;
                line-height: 40px;
            }
            .log-static-item-num {
                font-size: 20px;
                font-weight: 600;
                height: 40px;
                line-height: 40px;
                .unit {
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }
        .log-static-progress {
            flex: 1.5;
            text-align: center;
            .log-static-item-title {
                height: 40px;
                line-height: 40px;
            }
            .log-static-item-num {
                height: 40px;
                line-height: 40px;
                display: flex;
                align-items: center;
            }
            .log-percent {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 6px;
                width: 100%;
                background: #ebeef5;
                border-radius: 10px;
                
                .log-percent-blue {
                    height: 6px;
                    background-color: var(--thoughtware-blue);
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }
                .log-percent-red {
                    height: 6px;
                    background-color: #ff0000;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }
    }
}