.home {
    .title-top {
        font-size: 14px;
        
    }
    .milestone {
        background-color: #fff;
        .milestone-search {
            span {
                height: 80px;
                line-height: 80px;
            }
            padding: 0 20px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: #fff;
        }
        .title {
            span {
                height: 80px;
                line-height: 80px;
            }
            padding: 0 20px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
        }
        .milestone-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            box-sizing: border-box;
            border-top: solid 1px var(--adm-border-color);
            line-height: 40px;
            .milestone-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .milestone-icon {
                    margin-right: 10px;
                }
            }
            .milestone-type {
                width: 20vw;
                height: 40px; 
                line-height: 40px;
                overflow: hidden;
            }
            .milestone-title {
                font-size: 16px;
                font-weight: 600;
                color: var(--adm-color-primary);
                margin-right: 10px;
            }
        }
    }
    .adm-search-bar  {
        width: 70vw;
        .adm-input {
            font-size: 13px;
        }
    }
}