.milestone-detail {
    padding: 0 10px;
}
.milestone-top {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: var(--ds-shadow-overlay, 0 0 1px rgba(9, 30, 66, 0.31), 0 5px 10px -8px rgba(9, 30, 66, 0.25));
    margin-bottom: 10px;
    .milestone-icon-logo {
        width: 30px;
        height: 30px;
    }
    .milestone-title {
        font-weight: 600;
        font-size: 16px;
    }
    .milestone-icon-search {
        margin-right: 20px;
        width: 25px;
        height: 25px;
    }
}
.milestone-info-item {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f7f7f7;
    :nth-child(1){
        font-weight: 600;
        width: 200px;
    }
}
