.project-quick-filter {
    .select-view {
        height: 32px;
    }
    .select-content {
        padding: 5px 10px;
        background-color: var(--thoughtware-gray);
        width: 120px;
    }
}