.version-survey::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.version-survey {
    height: calc(100vh - 48px);
    overflow: auto;
    padding: var(--tiklab-padding);

    .ant-row {
        background: #f0f2f5;
        height: 100%;
    }

    .ant-col {
        background: #fff;
        padding: 20px;
    }

    .version-title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-weight: var(--tiklab-font-weight-bold);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 16px;
        .more:hover {
            text-decoration: underline;
        }

        .more {
            color: var(--tiklab-blue);
            margin-left: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }

    .version-survey-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;
        .version-info-box {
            padding: var(--tiklab-padding);
            background-color: #fff;
            border-radius: 4px;
            flex: 1;
            height: 440px;

            .version-info-title {
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: var(--tiklab-font-weight-bold);
                height: 40px;
                line-height: 40px;
                margin-bottom: 10px;

                &-icon {
                    width: 30px;
                    height: 30px;
                }
            }

            .version-container {
                .tiklab-profile .ant-avatar {
                    width: 24px !important;
                    height: 24px !important;
                }

                .version-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;
                    cursor: pointer;

                    .item-content {

                        .item-top,
                        .item-bottom {
                            height: 30px;
                            line-height: 30px;
                        }

                        .item-bottom {
                            color: var(--tiklab-gray-500);
                            font-size: 12px;
                        }

                        .item-progress {
                            width: 300px;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .version-work {
                    display: flex;
                    gap: 20px;
                }

            }
        }

        .burn-down-box {
            flex: 1;
            padding: var(--tiklab-padding);
            background-color: #fff;
            border-radius: 4px;
            height: 440px;
            .burn-down {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
        }

    }

    .version-pending-workitem {
        background-color: #fff;
        padding: var(--tiklab-padding);
        margin-bottom: 15px;
    }

    .dynamic-box {
        background-color: #fff;
        padding: var(--tiklab-padding);
        .dynamic-item {
            margin-bottom: 10px;
            cursor: pointer;
        }

        .dynamic-list {
            padding-bottom: 20px;
        }
    }
}