.version-survey::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}
.version-survey {
    height: calc(100vh - 48px);
    overflow: auto;
    padding: var(--tiklab-padding-item);
    background-color: var(--tiklab-gray-600);
    .ant-row {
        background: #f0f2f5;
        height: 100%;
    }
    .ant-col {
        background: #fff;
        padding: 20px;
    }
    .title {
        line-height: 50px;
        font-size: 16px;
        font-weight: var(--tiklab-font-weight-bold);
        padding-left: 20px;
        border-radius: 4px;
    }

    .version-title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-weight: var(--tiklab-font-weight-bold);
        padding: 0 20px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        .more:hover{
            text-decoration:underline;
        }
        .more {
            color: var(--tiklab-blue);
            margin-left: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
    .version-info-box {
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
        width: 500px;
        height: 420px;
        .version-info-title {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: var(--tiklab-font-weight-bold);
            height: 40px;
            line-height: 40px;
            margin-bottom: 10px;
            &-icon {
                width: 30px;
                height: 30px;
            }
        }

        .version-container {
            .tiklab-profile .ant-avatar {
                width: 24px !important;
                height: 24px !important;
            }

            .version-item {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                .item-content {
                    .item-top, .item-bottom {
                        height: 30px;
                        line-height: 30px;
                    }
                    .item-bottom {
                        color: var(--tiklab-gray-500);
                        font-size: 12px;
                    }
                    .item-progress {
                        width: 300px;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .version-work {
                display: flex;
                gap: 20px;
            }

        }
    }
    .version-survey-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .top-left, .top-right {
            background-color: #fff;
            border-radius: 4px;
            height: 420px;
            flex: 1;
        }
        .top-left {
            .box-top, .box-middle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
            }
            .version-time {
                width: 100px;
            }
            .box-bottom {
                padding: 20px;
                display: flex;
                align-items: center;
                .ant-progress-line {
                    width: 80%;
                }
            }
        }
        .burn-down-box {
            width: calc(100% - 520px);
            padding: 10px;
            background-color: #fff;
            border-radius: 4px;
            height: 420px;
            .burn-down {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
        }
        
    }
    .version-survey-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        gap: 20px;
        .bottom-left, .bottom-right {
            background-color: #fff;
            border-radius: 4px;
            height: 300px;
            flex: 1;
        }
        .bottom-left {
            .version-survey-work {
                display: flex;
                margin: 20px;
                justify-content: space-between;
                flex-wrap: wrap;
                .work-item {
                    box-shadow: rgba(9,30,66,0.25) 0px 1px 1px, rgba(9,30,66,0.31) 0px 0px 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 80px;
                    width: 47%;
                    margin-bottom: 20px;
                    border-radius: 4px;
                    .work-icon {
                        width: 30px;
                        height: 30px;
                        border-radius: 4px;
                    }
                    .work-count {
                        .work-num, .work-text {
                            text-align: center;
                            width: 100px;
                            height: 30px;
                            line-height: 30px;
                            font-weight: var(--tiklab-font-weight-bold);
                        }
                        .work-text {
                            color: #999;
                        }
                    }
                }
            }
        }
        .bottom-right {
            .version {
                padding: 0 20px;
                height: 230px;
                overflow: auto;
                margin: 10px 0;
            }
            .version::-webkit-scrollbar {
                width: 0 !important;
                height: 0 !important;
            }
            .version-item {
                &-left {
                    display: flex;
                    align-items: center;
                    width: 150px;
                    
                }
                .version-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .version-icon {
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    margin-right: 10px;
                }
                .version-date {
                    color: #999;
                    font-size: 12px;
                }
            }
        }
    }
    .version-survey-middle {
        background-color: #fff;
        border-radius: 4px;
        margin-top: 20px;
        width: 100%;
        .version-pending-workitem {
            padding-bottom: 20px;
        }
        .dynamic-item {
            padding: 0 20px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .dynamic-list {
            padding-bottom: 20px;
        }
    }
}