.workLog-search {
    padding: 10px;
    background-color: #fff;
}
.workLog-content {
    background: #fff;
    border-radius: 5px;
    height: calc(100vh - 140px);
    overflow: auto;
    .title {
        span {
            height: 80px;
            line-height: 80px;
        }
        padding: 0 20px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    .workLog-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        box-sizing: border-box;
        line-height: 30px;
        .workLog-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 30vw;
            .workLog-icon {
                margin-right: 10px;
            }
        }
        .workLog-time {
            height: 40px; 
            line-height: 40px;
            overflow: hidden;
        }
        .workLog-title {
            font-size: 16px;
            font-weight: 600;
            color: var(--adm-color-primary)
        }
    }
   
}