.system-dynamic {
    background-color: #fff;
    height: calc(100vh - 150px);
    overflow: auto;
    .title-top {
        font-size: 14px;
        
    }
    .system-dynamic-top {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        background-color: #fff;
        box-shadow: var(--ds-shadow-overlay, 0 0 1px rgba(9, 30, 66, 0.31), 0 5px 10px -8px rgba(9, 30, 66, 0.25));
    
        .system-dynamic-top-left, .system-dynamic-top-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
        }
        .system-dynamic-icon-logo {
            width: 20px;
            height: 20px;
        }
        .system-dynamic-title {
            font-weight: 600;
            font-size: 16px;
        }
        .system-dynamic-icon-search {
            margin-right: 20px;
            width: 25px;
            height: 25px;
        }
        .system-dynamic-icon-add {
            width: 25px;
            height: 25px;
        }
    }
    .system-dynamic-content {
        height: 100%;
        .title {
            span {
                height: 80px;
                line-height: 80px;
            }
            padding: 0 10px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            background: #fff;
        }
        .system-dynamic-box {
            // height: calc(100vh - 200px);
            overflow: auto;
        }
        .system-dynamic-list {
            display: flex;
            width: 100vw;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            box-sizing: border-box;
            border-top: solid 1px var(--adm-border-color);
            line-height: 50px;
            .system-dynamic-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .system-dynamic-icon {
                    margin-right: 10px;
                }
            }
            .system-dynamic-type {
                height: 40px; 
                line-height: 40px;
                overflow: hidden;
            }
            .system-dynamic-title {
                font-size: 16px;
                font-weight: 600;
                color: var(--adm-color-primary)
            }
        }
    }
    .adm-search-bar  {
        flex: 1;
        text-align: center;
        .adm-input {
            font-size: 13px;
        }
    }
}