.work-relation {
    .work-relation-search{
        padding: 10px;
        background-color: #fff;
    }
    .work-relation-content {
        background: #fff;
        border-radius: 5px;
        height: calc(100vh - 140px);
        overflow: auto;
        .title {
            span {
                height: 80px;
                line-height: 80px;
            }
            padding: 0 20px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
        }
        .work-relation-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            box-sizing: border-box;
            border-top: solid 1px var(--adm-border-color);
            line-height: 30px;
            .work-relation-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 30vw;
                .work-relation-icon {
                    margin-right: 10px;
                }
            }
            .work-relation-type {
                width: 20vw;
                height: 40px; 
                line-height: 40px;
                overflow: hidden;
            }
            .work-relation-title {
                font-size: 16px;
                font-weight: 600;
                color: var(--adm-color-primary)
            }
        }
       
    }
}