.sprint-survey::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}
.sprint-survey {
    height: calc(100vh - 48px);
    overflow: auto;
    padding: var(--thoughtware-padding);
    .ant-row {
        background: #f0f2f5;
        height: 100%;
    }
    .ant-col {
        background: #fff;
        padding: 20px;
    }
    .sprint-title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-weight: var(--thoughtware-font-weight-bold);
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .more:hover{
            text-decoration:underline;
        }
        .more {
            color: var(--thoughtware-blue);
            margin-left: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
    
    .sprint-survey-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;
        .sprint-info-box {
            padding: var(--thoughtware-padding);
            background-color: #fff;
            border-radius: 4px;
            flex: 1;
            height: 440px;
            .sprint-info-title {
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: var(--thoughtware-font-weight-bold);
                height: 40px;
                line-height: 40px;
                margin-bottom: 10px;
                &-icon {
                    width: 30px;
                    height: 30px;
                }
            }
    
            .sprint-container {
                .thoughtware-profile .ant-avatar {
                    width: 24px !important;
                    height: 24px !important;
                }
    
                .sprint-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    .item-content {
                        .item-top, .item-bottom {
                            height: 30px;
                            line-height: 30px;
                        }
                        .item-bottom {
                            color: var(--thoughtware-gray-500);
                            font-size: 12px;
                        }
                        .item-progress {
                            width: 300px;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
    
                .sprint-work {
                    display: flex;
                    gap: 20px;
                }
    
            }
        }
        .burn-down-box {
            flex: 1;
            padding: var(--thoughtware-padding);
            background-color: #fff;
            border-radius: 4px;
            height: 440px;
            .burn-down {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
        }
        
    }
    .sprint-todo {
        background-color: #fff;
        padding: var(--thoughtware-padding);
        margin-bottom: 15px;
        .sprint-todo-list {
            margin-top: 15px;
            .todo-item {
                margin-bottom: 10px;
                .todo-work-title:hover {
                    color: var(--thoughtware-blue);
                    cursor: pointer;
                }
            }
            .todo-item:nth-child(4n+1) {
                .todo-user-icon {
                    background-color: #cadbf3;
                }
            }

            .todo-item:nth-child(4n+2){
                .todo-user-icon {
                    background-color: #deedd7;
                }
            }

            .todo-item:nth-child(4n+3) {
                .todo-user-icon {
                    background-color: #ffebee;
                }
            }

            .todo-item:nth-child(4n+4){
                .todo-user-icon {
                    background-color: #e8eaf6;
                }
            }
        }
    }
    
    .dynamic-box {
        padding: var(--thoughtware-padding);
        background-color: #fff;
        .dynamic-item {
            margin-bottom: 10px;
            cursor: pointer;
        }

        .dynamic-list {
            margin-top: 15px;
            .dynamic-item {
                margin-bottom: 10px;
                .dynamic-work-title:hover {
                    color: var(--thoughtware-blue);
                }
            }
            .dynamic-item:nth-child(4n+1) {
                .dynamic-user-icon {
                    background-color: #cadbf3;
                }
            }

            .dynamic-item:nth-child(4n+2){
                .dynamic-user-icon {
                    background-color: #deedd7;
                }
            }

            .dynamic-item:nth-child(4n+3) {
                .dynamic-user-icon {
                    background-color: #ffebee;
                }
            }

            .dynamic-item:nth-child(4n+4){
                .dynamic-user-icon {
                    background-color: #e8eaf6;
                }
            }
        }
    }
}