/*
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: 袁婕轩
 * @Date: 2021-11-25 17:04:05
 * @LastEditors: 袁婕轩
 * @LastEditTime: 2021-12-28 19:17:30
 */
.sprint-detail {
    padding: 20px;
    .ant-breadcrumb {
        margin-bottom: 20px;
    }
    &-content {
        // border: 2px solid #f0f2f5;
        .ant-tabs-nav{
            margin: 0;
        }
    }
    .prodecontent {
        background-color: #f0f2f5;
        height: 100%;
    }
    .sprint-aside {
        width: 200;
        height: calc(100vh - 64px);
    }
    .divider {
        width: 100%;
        height: 3px;
        background: linear-gradient(rgba(9, 30, 66, 0.13) 0px, rgba(9, 30, 66, 0.13) 1px, rgba(9, 30, 66, 0.08) 1px, rgba(9, 30, 66, 0) 4px);
    }
}