.work-field-privilege {
    .work-field-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .work-function-promisse {
        display: flex;
        gap: 10px;
    }
    .ant-checkbox-wrapper {
        line-height: 40px;
    }
}