.work-role-function {
    padding: var(--tiklab-padding);
    .ant-tabs-nav:before {
        border-bottom: 0;
    }
    .role-table-name {
        cursor: pointer;
    }
    .role-table-name:hover {
        color: var(--tiklab-blue);
    }
    .work-role-function-crumb {
        display: flex;
        align-items: center;
        
    }
}