.menu-user {
    // border-top: 1px solid #f0f2f5;
    cursor: pointer;
    .user-icon {
        width: 20px;
        height: 20px;
        background-color: var(--tiklab-blue);
        cursor: pointer;
    }
    .menu-user-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .menu-user-text {
        height: 40px;
        display: flex;
        line-height: 40px;
        width: 100%;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;
        gap: 5px;
    }

}