.stage {
    padding: var(--thoughtware-padding);
    .stage-action {
        display: flex;
        justify-content: space-between;

        padding: 15px 0;
        .stage-action-right {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        .stage-view {
            display: flex;
            // border: 1px solid #f0f0f0;
            align-items: center;
            border-radius: 4px;
            .stage-view-item {
                padding: 0 15px;
                height: 32px;
                line-height: 32px;
                cursor: pointer;
            }
            .stage-view-select {
                color: #fff;
                background-color: var(--thoughtware-blue);
                border: 1px solid var(--thoughtware-blue);
            }
            .stage-view-week {
                border: 1px solid #f0f0f0;
                border-right: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .stage-view-month {
                border: 1px solid #f0f0f0;
                border-left: 0;

                

                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
    .add-stage-botton {
        height: 40px;
        line-height: 40px;
        margin: 5 auto;
        width: 150px;
        border-radius: 4px;
        cursor: pointer;
    }
    .add-stage-botton:hover {
        background-color: var(--thoughtware-gray-300);
    }
  
}

