.end-trend {
    padding: 12px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 100%;
    background-color: #fafbfc;
    // box-shadow: 0 2px 15px rgba(0,0,0,.15);
    &-top {
        height: 40px;
        line-height: 40px;
        font-weight: var(--thoughtware-font-weight-bold);
        font-size: 16px;
        display: flex;
        margin-bottom: 10px;

        .end-trend-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
    .end-trend-content {
        width: 100%;
        height: calc(100% - 74px);
        .delete-warning {
            font-weight: 600;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            height: 100%;
        }
    }
}