
.insight {
    height: 100%;
    
    .insight-content {
        height: calc(100vh - 50px);
        overflow: auto;
        background-color: #fff;
        padding: 10px;
        .top-botton {
            display: flex;
            justify-content: space-between;
        }
        .insight-from {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
   
}
