.work-comment {
    .comment-input {
        flex: 1;
        .comment-text {
            border-radius: 5px;
        }
        .comment-submit {
            margin-top: 20px;
            .cancel {
                margin-left: 20px;
                background-color: #d7d7d7;
            }
        }
    }
    &-box {
        display: flex;
        // align-items: center;
        justify-content: flex-start;
        .user-icon {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            margin-right: 15px;
        }
        .comment-botton {
            border-radius: 20px;
            margin-right: 10px;
            height: 35px;
            line-height: 35px;
            border: 1px solid #d7d7d7;
            color: #999;
            width: 100%;
            padding-left: 20px;
            font-size: 13px;
        }
        .comment-botton-hidden {
            display: none;
        }
        .comment-input {
            display: none;
        }
        .comment-input-show {
            display: block;
        }
    }
    &-list-box {
        box-shadow: rgb(179,186,197) 0px 0px 1px 0px, rgb(193,199,208) 0px 1px 1px 0px;
        padding: 10px 20px;
        margin-top: 20px;
        .title {
            font-size: 18px;
            font-weight: 600;
            // margin: 10px;
        }
    }
    
    &-list::-webkit-scrollbar {  //chrome 和Safari，电脑端微信浏览器
        width: 0 !important;
        height: 0 !important; //这样在电脑端微信浏览器横向滚动会无效。不加!important则可
    }
    
    &-list{
        -ms-overflow-style: none;  //IE 10+
        overflow: -moz-scrollbars-none;  //Firefox
    }
    &-list {
        
        height: 560px;
        overflow: auto;
        .comment-user {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 20px 0;
            .user-icon {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                margin-right: 10px;
            }
            .user-name {
                font-size: 14px;
                font-weight: 600;
                color: #0053ca;
            }
            .user-date {
                margin-left: 20px;
                color: #999;
                font-size: 13px;
            }
        }

        .comment-content {
            margin-left: 40px;
            // margin-top: 10px;
            margin-bottom: 20px;
        }
        .comment-operate {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 40px;
            font-size: 12px;
            font-size: rgb(56, 55, 55);
            span {
                margin-right: 10px;
                cursor: pointer;
            }
            span:hover {
                color: #0053ca
            }
        }
        .edit-comment-show {
            display: flex;
            margin: 10px 0 10px 30px;
        }
        .edit-comment-hidden {
            display: none;
        }
        .commnet-children-item {
            margin-left: 30px;
        }
    }
}
