.work {
    ul {
        padding: 0;
        margin: 0;
    }
    height: calc(100vh - 64px);
    overflow: hidden;
    .work-head {
        box-shadow: 0 0 4px 0 rgb(0,0,0,0.1), 0 0.5px 0 0 rgb(0,0,0,0,8);
        min-height: 55px;
        background: #f7f8fa;
        z-index: 1000;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-bottom: 2px solid #e5e8ff;
        .work-head-left {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .ant-form-item {
                margin: 10px 16px 10px 0;
            }

        }
        .work-head-right {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .right-item {
                margin: 10px 16px 10px 0;
            }
        }
    }
    
    
    // 看板视图样式
    

    // 富文本编辑框的样式
    .priorityDes{
        table {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
        }
        table td,
        table th {
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 3px 5px;
        }
        table th {
            border-bottom: 2px solid #ccc;
            text-align: center;
        }
    
        /* blockquote 样式 */
        blockquote {
            display: block;
            border-left: 8px solid #d0e5f2;
            padding: 5px 10px;
            margin: 10px 0;
            line-height: 1.4;
            font-size: 100%;
            background-color: #f1f1f1;
        }
    
        /* code 样式 */
        code {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            background-color: #f1f1f1;
            border-radius: 3px;
            padding: 3px 5px;
            margin: 0 3px;
        }
        pre code {
            display: block;
        }
    }
}
.addDemand {
    padding: 10px;
    width: 100%;
}
.addDemand::-webkit-scrollbar {  //chrome 和Safari，电脑端微信浏览器
    width: 0 !important;
    height: 0 !important; //这样在电脑端微信浏览器横向滚动会无效。不加!important则可
}

.addDemand {
    -ms-overflow-style: none;  //IE 10+
    overflow: -moz-scrollbars-none;  //Firefox
}

// 添加弹出框的样式
.work-addmodel {
    top: 5vh !important;
    .ant-modal-content {
        height: 90vh;
        overflow: hidden;
        .ant-modal-body {
            height: calc(100% - 110px);
            overflow: hidden;
            .addDemand {
                height: 100%;
                overflow: auto;
                .ant-select-selector {
                    background-color: $form-input-color;
                }
                .ant-select-selector:focus {
                    background-color: #fff;
                }
                .ant-input-affix-wrapper {
                    background-color: $form-input-color;
                    input {
                        background-color:transparent
                    }
                }
                .ant-input {
                    background-color: $form-input-color;
                }
                .ant-picker {
                    background-color: $form-input-color;
                }
                .editorElem-menu {
                    background-color: $form-input-color;
                    border:1px solid #ccc;
                }
                .ant-modal-title {
                    font-weight: 600;
                }
            } 
        }
    }
}

// 甘特图样式
// .work-time {
//     position: relative;
//     overflow: auto;
//     height: 92%;
//     .time-table {
//         border-top: 1px solid #aaa;
//         border-left: 1px solid  #aaa;
//         text-align: center;
//         .table-border {
//             border-bottom: 1px solid  #aaa;
//             border-right: 1px solid #aaa;
//             height: 50px;
//             line-height: 50px;
//         }
//         .table-hearder {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             height: 50px;
//             .table-hearder-gatter  {
//                 width: 720px;
//                 height: 50px;
//             }
//             .table-hearder-text {
//                 height: 50px;
//                 flex: 1;
//             }
//         }
//         .table-hidden {
//             display: none;
//         }
//         .table-tr {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             height: 50px;
//             .table-td {
//                 height: 50px;
//                 flex: 1;
//                 position: relative;
//                 .table-icon {
//                     display: inline-block;
//                     position: absolute;
//                     left: 10px;
//                     top: 18px;
//                 }
//             }
//             .table-gatter {
//                 width: 720px;
//             }
//         }
        

//     }
//     .table-pic {
//         position: absolute;
//         top: 0;
//         right: 0;
//         width: 720px;
//         overflow: hidden;
//         .table-overflow {
//             overflow: auto;
//         }
//         .table-date {
//             height: 25px;
//             display: inline-flex;
//             text-align: center;
//         }
//         .table-day {
//             border-right: #d0e5f2 solid 1px;
//         }
//         .table-timer {
//             .table-month {
//                 height: 25px;
//                 line-height: 25px;
//                 background-color:  #d0e5f2;
//                 display: inline-flex;
//                 .table-month-td {
//                     border-right: solid #fff 1px;
//                 }
//                 // width: 7200px;
//             }
//         }
//         // .table-timer {
//         //     -ms-overflow-style: none;  //IE 10+
//         //     overflow: -moz-scrollbars-none;  //Firefox
//         // }
//         // .table-timer::-webkit-scrollbar {  //chrome 和Safari，电脑端微信浏览器
//         //     width: 0 !important;
//         //     height: 0 !important; //这样在电脑端微信浏览器横向滚动会无效。不加!important则可
//         // }
//         .table-overflow {
//             height: 100%;
//             .gantt-box {
//                 height: calc(100% - 50px) !important;
//             }
//         }
//     }
    
// }

// .work-calendar {
//     margin: 20px;
//     .calendar-week {
//         // display: flex;
//         // flex-wrap: wrap;
//         // justify-content: space-around;
//         width: 100%;
//         height: 85vh;
//         .cakendar-weekitem {
//             width: 14.2%;
//             display: inline-block;
//             text-align: center;
//             border-left: 1px solid #f5f5f5;
//             &:nth-child(1){
//                 border-left: none;
//             }
            
//         }
        
//     }
//     .calendar-box {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-around;
//         overflow: auto;
//         height: calc(100vh - 206px);
//         .calendar-day {
//             width: 14.2%;
//             height: 150px;
//             display: inline-block;
//             border-left: 1px solid #f0f0f0 ;
//             border-top: 1px solid #f0f0f0 ;
//             position: relative;
//             padding: 10px;
//             &:nth-child(7n+1){
//                 color: #e02d2d;
//                 border-left: none;
//             }
//             &:nth-child(7n){
//                 color: #e02d2d;
//             }
//             .calendar-showMore {
//                 position: fixed;
//                 top: 0;
//                 left: 0;
//                 display: none;
//                 width: 100vw;
//                 height: 100vh;
//                 z-index: 1;
//             }
            
//             .calendar-showMore-box {
//                 position: absolute;
//                 top: 0;
//                 width: 150%;
//                 height: 250px;
//                 background-color: #fff;
//                 z-index: 1;
//                 display: none;
//                 border-radius: 10px;
//                 -moz-box-shadow: 5px 5px 2px #dfd9d94f; /* 老的 Firefox */
//                 box-shadow: 5px 5px 2px #dfd9d94f,5px 5px 2px #dfd9d94f;
//                 text-align: left;
//             }
//             .calendar-show {
//                 display: block;
//             }
//         }
//         .previous, .next {
//             color: #ccc;
//             &:nth-child(7n){
//                 color: #fd9191;
//             }
//             &:nth-child(7n+1){
//                 color: #fd9191;
//             }
//         }
//     }
//     .calendar-title {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         height: 50px;
//         .calendar-change-date {
//             display: inline-flex;
//             justify-content: space-between;
//             align-items: center;
//             width: 30%;
//         }
//         .calendar-change-view {
//             display: inline-flex;
//             justify-content: space-between;
//             border: 1px solid #f5f5f5 ;
//             border-radius: 30px;
//             height: 30px;
//             width: 200px;
//             align-items: center;
//             text-align: center;
//             .calendar-select {
//                 color: $blue-main;
//             }
//             div {
//                 flex: 1;
//                 height: 30px;
//                 line-height: 30px;
//             }
//             .month {
//                 border-left: #f5f5f5  1px solid;
//                 border-right: #f5f5f5  1px solid;
//             }
//         }
//     }
// }