.work-detailmodel {
    top: 5vh !important;
    .ant-modal-content {
        height: 90vh;
        overflow: hidden;
    }
    .work-detail::-webkit-scrollbar {  //chrome 和Safari，电脑端微信浏览器
        width: 0 !important;
        height: 0 !important; //这样在电脑端微信浏览器横向滚动会无效。不加!important则可
    }
    .ant-modal-body {
        height: calc(100% - 110px);
    }
    .work-detail {
        -ms-overflow-style: none;  //IE 10+
        overflow: -moz-scrollbars-none;  //Firefox
    }
    .work-detail {
        height: 100%;
        overflow: auto
    } 
}
.work-detail {
    padding: 10px;
    flex: 1;
    .work-detail-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
        .work-detail-top-name {
            margin: 2px 20px 0 10px;
        
            .work-item-title:hover {
                outline:0;
                box-shadow: 0 0 0 2px #1890ff33;
                min-width: 100px;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                border-radius: 2px;
                padding: 0 10px;
            }
            .work-item-title {
                outline:0;
                box-shadow: none;
                min-width: 100px;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                border-radius: 2px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 600;
                padding: 0 10px;
            }
            .work-item-info {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 14px;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;
                // margin-top: 10px;
                .work-item-info-item {
                    margin-right: 20px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px;
                    // background: #e5e8ff;
                    border-radius: 5px;
                    margin-top: 10px;
                    display: flex;
                }
                .work-item-info-item:hover {
                    margin-right: 20px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px;
                    background: #e5e8ff;
                    border-radius: 5px;
                    margin-top: 10px;
                }
                .work-item-info-title {
                    font-weight: 600;
                    margin-right: 10px;
                }
                .ant-select-selector {
                    border: 0;
                }
            }
        }
        .work-detail-title-right {
            flex: 1 0 0;
        }
        .work-detail-tab-botton {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0 20px;
            .work-botton {
                margin-right: 10px;
                text-align: center;
                padding: 5px 10px;
                border-radius: 2px;
                .icon {
                    margin-right: 5px;
                }
            }
            .botton-background {
                border: 0;
            }
            .botton-background:hover {
                background-color: #ECEDF0;
            }
            .more {    
                text-align: right;
                margin-left: 10px;
            }
        }
        .work-detail-title-pagination {
            flex: 1 0 0;
            text-align: right;
            margin-top: 10px;
            input{
                border: 0;
                padding: 0;
                margin-right: 8px;
                width: 25px;
            }
        }
    }
    .other-title{
        padding: 10px 0;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 16px;
        color: #5D70EA;
    }
    .work-detail-box {
        // padding: 10px 20px;
        padding: 10px 10px;
        background: #fff;
        margin-bottom: 30px;
    }
    .work-detail-tab {
        .work-detail-tab-info {
            text-align: left;
            margin-bottom: 30px;
            .detail-top {
                display: flex;
                justify-content: space-between;
                .work-item-title{
                    border-bottom: 1px solid rgb(223, 225, 230);
                }
                .right{
                    width: 48%;
                    border-radius: 4px;
                }
                .left{
                    width: 48%;
                    border-radius: 4px;
                    
                }
            }
            .priorityDes{
                min-height: 200px;
                border: 1px solid rgb(223, 225, 230);
                border-radius: 4px;
                padding: 10px;
            }
            .exdata {
                display: flex;
                width: 100%;
                justify-content: space-between;
                // .exdata-item:nth-child(odd){
                //     margin-right: 30px;
                // }
                .exdata-item {
                    width: 48%;
                }
            }
            .ant-upload-drag {
                height: 130px;
            }
            .ant-input-disabled {
                color: rgba(0,0,0,.7)
            }
            .ant-form-item-control:hover {
                background-color: #e3e8f0;
            }
        }
    }
} 

.editorElem-menu {
    background-color: $form-input-color;
    border:1px solid #ccc;
}