.work-child {
    .child-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}
.work-child-search {
    display: flex;
    justify-content: space-between;
}