.dynamic-item {
    padding: 0 20px;
    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 40px;
        height: 40px;
        .dynamic-item-title-left {
            display: flex;
        }
    }
    .update-content {
        line-height: 40px;
        height: 40px;
        padding: 0 20px;
    }
    .dynamic-type {
        line-height: 40px;
        height: 40px;
        padding: 0 20px;
    }
    .dynamic-user, .dynamic-title {
        color: var(--tiklab-blue);
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    .dynamic-user:hover, .dynamic-title:hover {
        text-decoration: underline;
    }

    .dynamic-title, .dynamic-user-name{
        height: 40px;
        line-height: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        max-width: 60px;
    }
    .dynamic-user {
        overflow: hidden;
    }
    .dynamic-user-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}