.projectType {
    .projectType-top {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        background-color: #fff;
        box-shadow: var(--ds-shadow-overlay, 0 0 1px rgba(9, 30, 66, 0.31), 0 5px 10px -8px rgba(9, 30, 66, 0.25));
    
        .projectType-title {
            font-weight: 600;
            font-size: 16px;
        }
        .projectType-icon-logo {
            width: 30px;
            height: 30px;
        }
    }
    .projectType-content {
        .projectType-box {
            height: calc(100vh - 140px);
            overflow: auto;
        }
        .projectType-list {
            display: flex;
            width: 100vw;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            box-sizing: border-box;
            border-top: solid 1px var(--adm-border-color);
            line-height: 50px;
            .projectType-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .projectType-icon {
                    margin-right: 10px;
                }
            }
            .projectType-title {
                font-size: 16px;
                font-weight: 600;
                color: var(--adm-color-primary)
            }
        }
    }
}