.project-statistics-aside {
    background: #fff;
    width: 250px;
    border-right: 2px solid var(--tiklab-gray-200);
    height: 100%;

    .statistics-top-title {
        padding: 10px 20px;
        font-size: var(--tiklab-font-16);
        font-weight: var(--tiklab-font-weight-bold);
        border-bottom: 1px var(--tiklab-gray-200) solid;
        
    }

    .statistics-type-title:hover {
        background-color: var(--tiklab-gray-300);
    }

    .statistics-type-title {
        cursor: pointer;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        font-weight: 500;
        color: #777;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
            display: flex;
            align-items: center;
        }
    }


    .statistics-menu-firstmenu:hover {
        cursor: pointer;
        background-color: var(--tiklab-gray-300);
    }

    .statistics-menu-submenu:hover {
        cursor: pointer;
        background-color: var(--tiklab-gray-300);
    }

    .statistics-menu {
        list-style-type: none;

        &-firstmenu {
            height: 40px;
            display: flex;
            line-height: 40px;
            width: 100%;
            align-items: center;
            padding-left: 43px;
        }

        &-select {
            background-color: var(--tiklab-gray-400);
        }
    }

}