.program {
    .program-content {
        height: 100%;
        .ant-layout-sider {
            background-color: #fff;
            height: 100%;
            border-right: 1px solid #f0f0f0;
            // 项目的导航样式
            .program-aside {
                height: 100%;
                background:$side-color;
                .program-title {
                    height: 40px;
                    display: flex;
                    line-height: 40px;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px;
                    font-weight: 600;
                    color: #000;
                    border-bottom: 1px solid #f0f2f5;
                }
                .program-menu {
                    list-style-type:none;
                    padding: 0px;
                    .icon {
                        margin-right: 10px;
                    }
                    li:hover {
                        background-color: $side-hover;
                    }
                    .program-menu-submenu {
                        height: 40px;
                        display: flex;
                        line-height: 40px;
                        padding-left: 40px;
                        width: 100%;
                        cursor: pointer;
                        align-items: center;
                    }
                    .program-menu-select {
                        background-color: $side-select;
                        border-left: 3px solid #0053ca;
                    }
                }
                .hidden-menu {
                    display: none;
                }
            }
        }
        .program-table {
            background: #fff;
            padding: 10px 20px;
            margin-left: 10px;
            .ant-row {
                height: 100%;
                .ant-col {
                    height: 100%;
                    background-color: #fff;
                    padding: 20px 20px;
                }
            }
        }
    }
    .program-gide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        img{
            width: 200px;
            height: 200px;
        }
        .gide-right {
            div {
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 600;
            }
            padding: 20px;
        }
    }
    
}

.program-relevance {
    
    .program-box {
        display: flex;
        flex-direction: row;
        .program-box-left, .program-box-right{
            flex: 1;
            border: 1px solid #f0f2f5;
            padding: 10px;
        }
        .program-box-right {
            .title {
                display: flex;
                justify-content: space-between;
            }
        }
        .checkbox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 40px;
            height: 40px;
        }
    }
    
}
.programDetail {
    .ant-col {
        padding: 20px;
        background-color: #fff;
    }
    .workTable {
        .ant-table {
            margin: 0 !important;
        }
        
    }
    .workTable>td {
        padding: 0px;
    }
}