
.dath-prodetail {
    
    height: 100%;
    .ant-row {
        overflow: auto;
    }
    .project-detail-side {
        background-color: $side-color;
        border: 2px solid #e5e8ff;
        .ant-layout-sider-children {
            .project-aside {
                ul {
                    padding: 0;
                    margin: 0;
                }
                background: $side-color;
                .project-title {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    padding: 10px 20px;
                    color: #000;
                    font-weight: 600;
                    .project-text {
                        margin: 0 10px;
                        .type {
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                    span{
                        width: 100px;
                        height: 100%;
                        overflow: hidden;
                        
                        i{
                            margin-right: 10px;
                        }
                    }
                    .project-aside-icon {
                        width: 15px;
                        height: 15px;
                    }
                }
                .project-title-icon{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 20px;
                }
                .title {
                    border-bottom: 1px solid #f0f2f5;
                }

                .setting {
                    border-top: 1px solid #f0f2f5;
                    position: fixed;
                    bottom: 0;
                    width: 80px;
                    span {
                        margin: 0 10px 0 10px;
                    }
                    .icon {
                        margin-left: 10px;
                    }
                }
                
                .project-menu {
                    list-style-type:none;
                    cursor: pointer;
                    .project-menu-submenu {
                        height: 40px;
                        display: flex;
                        line-height: 40px;
                        width: 100%;
                        align-items: center;
                        padding-left: 20px;
                        i{
                            margin-right: 10px;
                        }
                    }
                    .project-menu-submenu-icon {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        flex-direction: column;
                        margin-bottom: 10px;
                        padding: 5px 0;
                        .project-aside-icon {
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .project-menu-submenu-icon:hover {
                        background-color: $side-hover;
                    }
                    .project-menu-submenu:hover {
                        background-color: $side-hover;
                    }

                    .project-menu-select {
                        background-color: $side-select;
                        border-left: 3px solid #0053ca;
                    }
                }
                .hidden-menu {
                    display: none;
                }
                .project-expend{
                    position: absolute;
                    right: -10px;
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    border-radius: 20px;
                    bottom: 120px;
                    line-height: 20px;
                    display: none;
                    z-index: 2;
                    .right {
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                        font-weight: 600;
                        
                    }
                    .right:hover {
                        color: #0053ca;
                    }
                }
            }
        }
        .ant-layout-sider-children:hover {
            .project-expend{
                display: block;
            }
        }
        // 隐藏菜单文字的样式
        .project-notext {
            display: none;
        }
    }
    
    .prodetail-content{
        height: 100%;
        background: #fff;
        .prodetail-content-col {
            background: #fff;
            height: 100%;
        }
    }
    
    
}
.project-modal{
    .ant-modal-title {
        font-weight: 600;
        font-size: 15px;
    }
    .ant-modal-body {
        padding: 0 24px;
        font-family: 13px;
        .project-name {
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
        }
        .project-selectName {
            background-color: $side-select;
        }
    }
}


// 表格视图扩展行
.expend>.ant-table-cell {
    padding-left: 0;
    padding-right: 0;
    .ant-table {
        margin-right: 0 !important;
    }
        
}
.expend {
    .ant-table {
        margin: -16px -16px -16px 0 !important;
    }
}