
.project-set {
    height: calc(100vh - var(--thoughtware-head-height));
    .ant-row {
        overflow: auto;
    }
    .ant-layout {
        background-color: #fff;
    }
    .ant-layout-sider {
        background-color: var(--thoughtware-gray-600);
        .ant-layout-sider-children {
            position: fixed;
            width: 200px;
            .project-aside {
                ul {
                    padding: 0;
                    margin: 0;
                }
                background: var(--thoughtware-gray-600);
                .project-title {
                    height: 40px;
                    display: flex;
                    line-height: 40px;
                    width: 100%;
                    align-items: center;
                    padding: 0 20px;
                    font-weight: 600;
                    span{
                        width: 100px;
                        height: 100%;
                        overflow: hidden;
                        i{
                            margin-right: 10px;
                        }
                    }
                }
                .title {
                    border-bottom: 1px solid #f0f2f5;
                }

                .setting {
                    border-top: 1px solid #f0f2f5;
                }
                
                .project-menu {
                    list-style-type:none;
                    height: 85vh;
                    cursor: pointer;
                    .project-menu-submenu {
                        height: 40px;
                        display: flex;
                        line-height: 40px;
                        width: 100%;
                        align-items: center;
                        padding-left: 20px;
                        i{
                            margin-right: 10px;
                        }
                    }
                    .project-menu-submenu:hover {
                        background-color: var(--thoughtware-gray-300);
                    }

                    .project-menu-select {
                        background-color: var(--thoughtware-gray-400);
                    }
                }
                .hidden-menu {
                    display: none;
                }
            }
        }
    }
    
    .project-set-content{
        .project-set-content-col {
            background: #fff;
            height: 100%;
        }
    }
    .project-back {
        padding: 0 20px;
        font-weight: 600;
        color: var(--thoughtware-blue);
        cursor: pointer;
        height: 40px;
        line-height: 40px;
    }
    .project-back:hover {
        background-color: #f0f2f5;
    }
}
