.project-set-setting {
    position: relative;
    border-top: 1px solid var(--thoughtware-gray-200);
    .project-set-setting-title {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        gap: 5px;
    }
    .project-set-setting-title:hover {
        background-color: var(--thoughtware-gray-400);
    }

    .project-set-setting-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding: 10px 0;
        span {
            font-size: 12px;
        }
    }
    .project-set-setting-icon:hover {
        background-color: var(--thoughtware-gray-400);
    }
    .setting {
        
        .icon {
            margin-left: 10px;
        }
    }
    
}