

    .projectSet-detail-side {
        background-color: var(--thoughtware-gray);
        border-right: 1px solid #f0f0f0;
        .projectSet-icon {
            width: 20px;
            height: 20px;
        }
        .ant-layout-sider-children {
            .projectSet-aside {
                display: flex;
                background: var(--thoughtware-gray-600);
                height: 100%;
                flex-direction: column;
                ul {
                    padding: 0;
                    margin: 0;
                }
                .projectSet-title {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    color: #000;
                    font-weight: var(--thoughtware-font-weight-bold);
                    width: 100%;
                    .projectSet-text {
                        margin: 0 10px;
                        .type {
                            font-size: 12px;
                            font-weight: var(--thoughtware-font-weight-bold);
                        }
                    }
                    span{
                        width: 100px;
                        height: 100%;
                        overflow: hidden;
                        
                        i{
                            margin-right: 10px;
                        }
                    }
                    .projectSet-aside-icon {
                        width: 15px;
                        height: 15px;
                    }
                }
                .projectSet-title-icon{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 20px;
                }
                .title {
                    border-bottom: 1px solid #f0f2f5;
                }
                
                .project-title {
                    display: flex;
                    padding: 10px 20px;
                    align-items: center;
                    justify-content: center;
                    padding-top: 10px;
                    border-top: 1px solid var(--thoughtware-gray-200);
                }
                .project-title:hover {
                    background-color: var(--thoughtware-gray-400);
                }

                .project-set-icon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 10px;
                    border-top: 1px solid var(--thoughtware-gray-200);
                    cursor: pointer;
                    span {
                        font-size: 12px;
                    }
                }
                .project-set-icon:hover {
                    background-color: var(--thoughtware-gray-400);
                }
                .setting {
                    
                    .icon {
                        margin-left: 10px;
                    }
                }
                
                .projectSet-menu {
                    list-style-type:none;
                    cursor: pointer;
                    flex: 1;
                    .projectSet-back-project {
                        margin-bottom: 10px;
                        border-bottom: 1px solid #d7d7d7;
                    }
                    .projectSet-menu-submenu {
                        height: 40px;
                        display: flex;
                        line-height: 40px;
                        width: 100%;
                        align-items: center;
                        padding-left: 20px;
                        i{
                            margin-right: 10px;
                        }
                    }
                    .projectSet-menu-submenu-icon {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        flex-direction: column;
                        margin-bottom: 10px;
                        padding: 5px 0;
                        .projectSet-aside-icon {
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .projectSet-menu-submenu-icon:hover {
                        background-color: #EDF0F5;
                    }
                    .projectSet-menu-submenu:hover {
                        background-color: #EDF0F5;
                    }

                    .projectSet-menu-select {
                        background-color: var(--thoughtware-gray-400);
                        border-left: 3px solid var(--thoughtware-blue);
                    }
                }
                .hidden-menu {
                    display: none;
                }
                .projectSet-expend{
                    position: absolute;
                    right: -10px;
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    border-radius: 20px;
                    bottom: 120px;
                    line-height: 20px;
                    display: none;
                    z-index: 2;
                    .right {
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                        font-weight: var(--thoughtware-font-weight-bold);
                        
                    }
                    .right:hover {
                        color: var(--thoughtware-blue);
                    }
                }
            }
        }
        .ant-layout-sider-children:hover {
            .projectSet-expend{
                display: block;
            }
        }
        .projectSet-notext {
            display: none;
        }
    }
    .projectSet-aside-more {
        text-align: center;
        height: 40px;
        line-height: 40px;
    }
    .prodetail-content{
        height: 100%;
        background: #fff;
        .prodetail-content-col {
            background: #fff;
            height: 100%;
        }
    }
    
    

.projectSet-modal{
    .ant-modal-title {
        font-weight: var(--thoughtware-font-weight-bold);
        font-size: 15px;
    }
    .ant-modal-body {
        padding: 0 24px;
        font-family: 13px;
        .projectSet-name {
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
        }
        .projectSet-selectName {
            background-color: var(--thoughtware-gray-400);
        }
    }
}

